[2019-04-30 07:55] yongju-jin opened #14 "how to know progress for video??"
Hi, I have a question.
I do not know if this is the right place for the question.
My question is
how can I show my video progress?
I can't find it.

sorry. poor my English. thank you

[2019-04-30 08:39] eneim commented on #14
@yongju-jin Do you mean the progress that is calculated by *current position / video duration* ?

Because Kohii is still in alpha, I cannot tell much, though I will eventually put a demo for that use case.

Right now, you can show the progress in the same way **PlayerView** shows the PlayerControlView where there is current position and video position, see [here](https://github.com/google/ExoPlaye

[2019-04-30 09:58] yongju-jin commented on #14
thanks for the reply.
and.. I have more question.

1. how to volume control? (mute/unmute)
[code]
error occurred: Unresolved referenced: media

2. can i play video from first when play is completed??
i try
[code]

i know Kohii is alpha, but just wanna know Kohii supported
thanks,

[2019-05-01 09:08] eneim commented on #14
@yongju-jin

About the Volume, this is a WIP in my local at the moment. The code base is significantly updated since this alpha actually. Managing volume is quite complicated. Considering Facebook: you mute one Video, all other Videos will be muted. In my latest strategy, I introduce the concept of "change Volume by Scope", which allows client to change volume of a Playback that will also change V

[2019-05-02 03:09] yongju-jin commented on #14
thanks for the reply.
Thanks to Kohii, I finished my work.
thanks for your work.

[2019-05-02 05:24] eneim commented on #14
@yongju-jin glad it helps

[2019-05-02 05:24] #14 closed

[2019-06-11 21:45] muigukenneth opened #20 "Adding new video to adapter continues to play the previous top cached video."
First of all thank you for this awesome library. I am facing an issue when i add  a new video to the adapter the previous top video is the one which continues to play.

How can i refresh the cache tags. e.g like update the tag 0 with the a null cache since its a new video and update the previous cache 0 to cache 1 and so on ? When i refresh the items on the adapter.

[2019-06-12 00:34] eneim commented on #20
@muigukenneth How is your VideHolder and Adapter? It seems that you are using same tags for different position. A video tag must be unique.

[2019-06-12 10:03] muigukenneth commented on #20
@eneim Am setting the tag as the item position so it is always unique. Here is my Adapter:

`class VideosAdapter(
    private val context: Context, val fragment: VideosFragment, val kohii: Kohii,
    val manager: PlaybackManager
) :
    PagedListAdapter<Post, VideosAdapter.VideosViewHolder>(PostDiffCallback()), View.OnClickListener,
    View.OnLongClickListener, FastScroller.SectionIndexer {

[2019-06-12 12:54] eneim commented on #20
@muigukenneth what do you want to do with this line?

[code]

the ``tag`` passed to a ``Rebinder`` need to be unique too.

Also, please try to simplify your code to the minimum that can reproduce the issue. At least remove all place for text setting and binding.

[2019-06-12 14:24] muigukenneth commented on #20
@eneim  I am re-assigning the reBinder with a unique tag  `reBinder= Rebinder(position.toString(), PlayerView::class.java)` when binding the views. Check updated code above.

[2019-06-13 01:20] eneim commented on #20
@muigukenneth Ok. As you are using the position for the ID (which is not suggested. What I do in the demo is simply for demo purpose. If the name itself is not obvious that it must be unique across Activities, I will need to update current comment/doc).

In practice, I believe there is no such situation where 2 views using the same video. The recommended way is, you handle the tag migration by you

[2019-06-13 10:03] muigukenneth commented on #20
@eneim Thank you for the explanation. I now understand how the cache works. I have just replaced the tag with a unique id and its working well. I think you should update the doc and discourage using the adapter position as a unique id since some guys will face the same issue if they delete or insert new data on their adapters.

[2019-06-14 10:23] eneim commented on #20
@muigukenneth yeah sure. thanks for using the lib.

[2019-06-14 10:23] #20 closed

[2019-06-26 11:23] DmBard opened #23 "Crash on Android 6"
I use lib version 1.0.0.2906-A09 and faced a crash on my OnePlus X device with Android Marshmallow:

`    java.lang.NoSuchMethodError: No virtual method remove(Ljava/lang/Object;Ljava/lang/Object;)Z in class Ljava/util/WeakHashMap; or its super classes (declaration of 'java.util.WeakHashMap' appears in /system/framework/core-libart.jar)
        at kohii.v1.PlaybackManager.onOwnerDestroy$kohii_rele

[2019-06-27 14:35] eneim commented on #23
@DmBard It was caused by a method only available in Java 8. I fixed it in other branch, will merge soon.

[2019-06-28 01:50] eneim commented on #23
@DmBard should be fixed in A10

[2019-06-28 01:50] #23 closed

[2019-08-06 03:35] mt131 opened #27 "ERROR: For input string: """
String lookUpProf(String propertyName, String defaultValue) {
  def propertyValue = project.properties[propertyName]
  return propertyValue != null ? propertyValue : defaultValue
}

[2019-08-08 07:38] deepakkumardk opened #28 "Add a detailed Readme"
Please add a detailed readme file or wiki for detailed explanation

[2019-09-16 21:49] keremkusmezer opened #29 "Exoplayer Version Upgrade"
Is there a plan to upgrade kohii to exoplayer 2.10.4.

[2019-09-23 03:21] mym0404 opened #32 "ViewPager2 support"
I want to use kohii with ViewPager2(because I want use vertical paging).

I cloned viewpager2 of google code and modified RecyclerView access modifier with public and setted host as RecyclerView in ViewPager2.

Then it worked.

I have no idea about side effect about that now...

Do you have any plan to support ViewPager2 with Kohii??

[2019-09-23 09:41] eneim commented on #32
@mym0404 Although it is still in development, ViewPager2 is supported now, You can find a 'compact' sample here: [ViewPager2](https://github.com/eneim/kohii/tree/dev-v1/kohii-sample/src/main/java/kohii/v1/sample/ui/pager2)

[2019-09-23 09:41] eneim commented on #29
@keremkusmezer It is a WIP in [this branch](https://github.com/eneim/kohii/tree/nam/v1/memory-optimize).

[2019-09-23 09:42] eneim commented on #28
@deepakkumardk This lib is still in alpha development and many things may change, so it is not the good time for a detailed Wiki, but it will be.

[2019-09-26 15:18] mym0404 commented on #32
I think your link only works with usage ViewPager2 as Fragment Pager...

In my case, if I use RecyclerView.Adapter<VH> for ViewPager2 adapter, no register one error invoked.

[2019-09-26 16:39] mym0404 opened #33 "How can i prevent that Kohii stop play same video in other screen"
If I play same video in activity1, activity2, the video of activity2 is not playing... when that video was played in activity1.

Is there any method for this??

And can you suggest any specific documentation of this library? I can't find

[2019-10-01 09:51] yudikarma opened #34 "video not play when orientation is Landscape"
i try your library for playvideo in recyclerview. but the problem is when orientation change to landscape the video is not auto play, maybe this cause my VideoViewholder height is so big. see this [pictures](https://imgur.com/WzdSE2z)

and i want to ask, how to pause and resume the video manual ? cause i need to pause and play in some event. thanks for this awesome library

[2019-10-02 03:04] eneim commented on #33
@mym0404 Please explain more about the implementation. What you did and what happen? (simply saying activity1 and activity2 doesn't show enough context for me to guess the issue).

About the document, my plan is when the specification is kind of stable (it is not yet), I will spend time to write detailed doc for this library. For now using sample code is the best if you want to use Kohii.

[2019-10-02 03:08] eneim commented on #34
@yudikarma Yeah it seems to be the size of Video is too big. If you let your Activity recreate on config change, please try to use different Video area size to **verify** the behavior first.

Kohii allows you to manually control the Video. It is just not working as I expected so I didn't push a sample for it. Please wait for next update (maybe release A12 or A13).

[2019-10-02 03:17] yudikarma commented on #34
can i use this library for my production app ? or you not yet recommendet cause not yet stable realise ?

[2019-10-02 03:21] eneim commented on #34
If only the auto playback in RecyclerView or ViewPager, it can be useful. But from my experience, the requirement will not stop there. So it is not recommended to use Kohii in production yet.

[2019-10-02 03:25] yudikarma commented on #34
i just wanna only use for auto playback in RecyclerView, how ? recommended  to my production ?

[2019-10-02 03:33] eneim commented on #34
@yudikarma If your use case is just this It is fine. But be aware about my warning when you need more complicated features.

[2019-10-02 03:36] yudikarma commented on #34
oke fine.. so i have two fragment with tabslayout and viewpager, how to make my recyclerview with video to pause when user go to or swipe to other fragmet in tab layout ? i not yet find this case in your sample.. btw this library realy help my task. you save my time for 3 day stuck. thanks for your work

[2019-10-02 03:51] yudikarma commented on #34
i failed to build you sample project in this library, please change crashlystic from fabric to firebase analystic

[2019-10-02 04:27] eneim commented on #34
@yudikarma Ohh forget it in last commit (chaging fabric to full firebase is in plan ...). You can change the build.gradle (to remove stuff that requires fabric) and rebuild.

[2019-10-02 04:32] eneim commented on #34
Do you mean your RecyclerView is inside a Fragment which is a page of the ViewPager? You can implement it just like normal RecyclerView demo but also register the ViewPager to Kohii.

[code]

[2019-10-02 08:48] yudikarma commented on #34
work like a charm :) big thanks @eneim

[2019-10-02 10:19] yudikarma commented on #34
@eneim i wanna ask 1 more..
whats function of taget host ? i wanna implement toogle volume btn, but after try to following by example form Kohie Recycler view 4. but after that, my video in recyclerview always playback from start when notifyitemchange called

[2019-10-02 11:27] yudikarma commented on #34
thanks @eneim  iam already fix for video pause on notifyitemchange called, mistake to update viewholder use notifyitemchange, i fix bye use your logik to handle volume click, big thanks

[2019-10-02 11:27] #34 closed

[2019-10-04 07:46] eneim commented on #32
@mym0404 please checkout latest commit in sample app. I add Pager3Fragment for this case. The point is other than registering the ViewPager, you also need to registering the ViewPager's RecyclerView. It looks like a workaround, but it is a reasonable implementation.

[2019-10-04 18:57] mym0404 commented on #32
ahhh getChildAt(0) is key... thank you

[2019-10-04 18:57] #32 closed

[2019-10-04 18:59] #33 closed

[2019-10-07 02:20] yudikarma opened #36 "how to use Rebinder class in news version"
in your sample Class Rebinder have Renderer : Any like this ->
 `data class Rebinder<RENDERER : Any>(
  val tag: String,
  val rendererType: Class<RENDERER>
)`
but, in new release class Rebinder is already change like this ->
`data class Rebinder(
  val tag: String,
  val rendererType: Class<*>
)`
so that make me confuse to following your sample .

[2019-10-07 03:08] yudikarma opened #37 "Android Studio Cannot find Kohi after update news Kohi version"
after update kohii in my build gradle module. android studio cannot find any Kohii library..
this is my implementation build gradle
`implementation "im.ene.kohii:kohii:1.0.0.2010004-A11"`
`implementation "com.google.android.exoplayer:exoplayer:2.10.4"`

[2019-10-07 08:57] eneim commented on #36
@yudikarma which version you are using? In latest:

[code]

FYI I know that this class is one with the worst design in current code base. When the main functions are stable I will revise it if I can. Or else I will document this class carefully.

[2019-10-07 08:58] eneim commented on #37
@yudikarma Do you have ``maven { url 'https://oss.sonatype.org/content/repositories/snapshots' }`` in your ``repositories`` block in build.gradle ?

[2019-10-07 08:59] #29 closed

[2019-10-07 09:00] yudikarma commented on #37
no, please added to readme thanks @eneim

[2019-10-07 09:10] eneim commented on #37
@yudikarma Ok I will update the README in next push. It is time I think.

[2019-10-07 09:20] yudikarma commented on #36
i try to modify your sample(echo fragment) add notifyitemchange on like btn click and video not re-play from start again. but, when i try in my project follow your sample, i got my video is re-play again from start. do you know why ?

[2019-10-07 09:49] yudikarma commented on #37
iam keep in same proble. may be i have another misstake[capture error](https://imgur.com/a/aIYTBvs)

[2019-10-07 10:37] eneim commented on #36
Do you set “tag” to your Video?

[2019-10-07 10:57] yudikarma commented on #36
this is my tag key ->

`val tagKey: String?
        get() = this.videoSources?.let { "${javaClass.canonicalName}::${it.imagepost?.get(0)?.video}::$adapterPosition" }`

this my setup in viewholdervideos ->
`kohii.setUp(it.imagepost?.get(0)?.video?:"").with {
                tag = tagKey
                //preLoad = true
                repeatMode =Playable.REPEAT_MODE_ONE
                //callback

[2019-10-07 12:36] eneim commented on #36
@yudikarma So ``notifyitemchange`` works on my demo but not yours? How about you just change the media url (not other code) in your code? (Using same URL for all Videos should be Ok, just make the tags different).

[2019-10-08 04:18] yudikarma commented on #36
i cant do just change the media url (not other code) cause my structur not same with echo fragment, but iam already follow your sample echo fragment exacly, but i keep not get to video not re-play again on notifyitemchange. are iam missing some things ? my be for setup kohii

[2019-10-08 07:49] yudikarma opened #38 "audio and video resume play in background"
open kohii + recyclerview -> when video play then click home button, and video will pause. then lock your screen (without open other app), -> un-loack your sceen -> the video will auto resume (with audio)..

this happen in your sample app with redmi Note 7 (android P). how to disable or make audio or video not running in background ??

[2019-10-08 08:15] eneim commented on #38
Thanks for the issue. Let me investigate this and the notifyitemchange.

[2019-10-08 12:23] eneim commented on #36
@yudikarma I replace my code to use notifyitemchange and it still work fine. Can you share the code where you call ``notifyitemchange`` and if you override ``onBindViewHolder`` with the payloads please also include it.

[2019-10-09 01:52] yudikarma commented on #36
i create some gist how iam implement kohii at this [https://gist.github.com/yudikarma/c4b2de4614f1cd0b36bd93a86b5408c1](url) . notifyitemchange iam called after some action for like a post. and iam not use payload for that. just use interface.

[2019-10-09 06:22] eneim commented on #36
@yudikarma To ensure that the issue is not caused by a call to notifyItemChanged, can you try to put a button that once clicked, it just call ``notifyItemChanged`` on a specific position? This position can be a Video item, or non-Video item (to make sure a change to non-Video item affects Video or not).

[2019-10-09 06:51] yudikarma commented on #36
please check my demo [https://youtu.be/bnccgZL37GM](url).. i dot know why. i think it just iam missing something

[2019-10-09 06:56] eneim commented on #36
@yudikarma I think I figure it out ...

<img width="892" alt="Screen Shot 2019-10-09 at 15 54 43" src="https://user-images.githubusercontent.com/1776230/66458243-328f3a80-eaad-11e9-8b1c-83d6da17184d.png">

This is from ``ViewHolderVideos`` and it seems that you never update ``videoSources`` therefore tagKey is always null. You need a non-null tag to make it remember the Video. Please double check.

[2019-10-09 07:07] yudikarma commented on #36
wow :D amazinggg... work like a charm 👍 kohii is awesome library.. big thanks @eneim

[2019-10-09 07:09] eneim commented on #36
@yudikarma Ok sounds great. I will look at the screen on/off issue and may push some code later. Please close this issue. If you have other issue/trouble please create new one.

[2019-10-09 07:14] #36 closed

[2019-10-15 04:35] eneim commented on #38
<img width="1065" alt="Screen Shot 2019-10-15 at 13 33 57" src="https://user-images.githubusercontent.com/1776230/66800544-82a84a00-ef50-11e9-87f7-386aa2c96630.png">

@yudikarma Please refer to the screenshot above. If you are willing to use Kohii from source code, you can make change like this. Though I'm investigating other side-effect and screen on/off event by system to ensure the overall beha

[2019-10-15 04:52] #38 closed

[2019-10-15 05:00] eneim commented on #37
<img width="659" alt="Screen Shot 2019-10-15 at 13 59 14" src="https://user-images.githubusercontent.com/1776230/66801429-0152b680-ef54-11e9-90f5-6534911583ca.png">

@yudikarma This is the block you should add the snapshot maven repo (notice the "allprojects" block).

[2019-10-15 06:16] yudikarma commented on #37
add Implementation for Kohii news vrsion
![image](https://user-images.githubusercontent.com/20062470/66804732-779fea80-ef4d-11e9-84b8-9e05b039750c.png)

add the snapshot maven repo in Build.gradle project
![image](https://user-images.githubusercontent.com/20062470/66804765-8c7c7e00-ef4d-11e9-9f5f-693eb2eb8f0d.png)

after sync.. i got this error when build the app
![image](https://user-images.githu

[2019-10-17 00:53] eneim commented on #37
@yudikarma @Diegofr104 I think there was a missing config that stripped out many things in the release artifact. Let me figure out a fix real quick. FYI the maven works, but what it downloads doesn't work.

<img width="503" alt="Screen Shot 2019-10-17 at 9 52 31" src="https://user-images.githubusercontent.com/1776230/66969287-fa4ab600-f0c3-11e9-9616-8ac6be374e81.png">

[2019-11-06 03:15] eneim opened #39 "Feature: smooth binding switching"
As current implementation will wait for the container to be attached, we need a mechanism to retain the Playable during the switch.

[2019-11-06 04:45] eneim opened #40 "Feature: observe onTrimMemory"
Override memory setting in critical situation.

[2019-11-16 15:12] #39 closed

[2019-11-16 15:12] #40 closed

[2019-12-01 19:16] Diegofr104 opened #45 "How can i use PlayerControlView in kohii"
Im trying to add the controller bar at bottom of playerview but nothing happens, i tryed to use inside of playerview just using controller_layout_id and then tryed another way using PlayerControlView  and nothing happned on both and i cnat see the bar.
I need to implement something different?

[2019-12-02 01:09] eneim commented on #45
@Diegofr104 Assuming that you are using B0 or some Alpha, Kohii will hide any controller by default. The reason is by default, Kohii enforce automatic playback, therefore no manual control should be allowed, or else user will experience weird things like: He/She paused the video before, then scroll up, then scroll down, then the Video will resume without his/her control, which is weird.

---

To e

[2019-12-02 05:50] DrPechkin opened #46 "Project not build with new version"
`
Could not determine the dependencies of task ':app:compileDebugKotlin'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/kohii/v1/kohii-core/unspecified/kohii-core-unspecified.pom
       - https://dl.google.com/dl/android/maven2/kohii/v1/kohii-core/unspecified/kohii-core-unspecified.jar
       - https://jcenter.bintray.com/kohii/v1/kohii-core/unspecifie

[2019-12-02 06:11] eneim commented on #46
@DrPechkin Sorry just realize I did a bad setting in release script. Fixing it now.

[2019-12-02 07:13] eneim commented on #46
@DrPechkin B2 would fix this issue. I will remove B1 from jcenter to prevent this.

[2019-12-02 07:13] #46 closed

[2019-12-02 08:12] DrPechkin commented on #46
@eneim Thanks!

[2019-12-02 08:20] DrPechkin commented on #46
@eneim  After adding the library my buttons lost their color shades

[2019-12-02 08:22] eneim commented on #46
@DrPechkin what buttons? How are they defined in your xml? I do not have any touch to UIs other than PlayerView. Can you show your dependencies to Material Design library?

[2019-12-02 08:53] DrPechkin commented on #46
@eneim I think this is a bug because of what you are using "com.google.android.material:material:1.1.0-beta02"

[2019-12-02 09:35] eneim commented on #46
@DrPechkin Hmm I don't know why it forces your app to use my dependency, but please try this https://developer.android.com/studio/build/dependencies#exclude_dependencies to see if it help. I will double check later.

[2019-12-02 12:54] Diegofr104 commented on #45
Thx for answer, i hope you are fine!, i will answer your questions one by one.

1-how would you imagine the manual playback would be?

I imagine the manual playback simple UI like  play/pause behavior in the controller, seekbar and time left, if you scroll to the next one the previous video time need to be store for reuse again if you go back again to the previous video and resume from where you w

[2019-12-02 13:56] eneim commented on #45
@Diegofr104 Please try this setting in your `setUp`

[code]

It should work with your case. Though the design still has some issues that cannot cover enough edge case (not this case). Make sure to update to B2 because B1 has some dependency issues. Also the argument for the call to `bind` must be a `PlayerView` or its subclass.

[2019-12-02 16:06] Diegofr104 commented on #45
I tryed what you suggest and works fine!.
I have another question, it is possible to use the controller outside the PlayerView? like PlayerControlView.

[2019-12-03 01:09] eneim commented on #45
@Diegofr104 It is not supported now. What do you want? One PlayerControlView for many PlayerView or still one PlayerControlView for one PlayerView?

[2019-12-03 12:15] Diegofr104 commented on #45
Oh ok its fine.
Ithink the best approach is one PlayerControlView for many PlayerView.

[2019-12-03 14:03] eneim commented on #45
@Diegofr104 Well I have not clearly double check, but you can try the follow implementation:

Have your Fragment or Activity (whichever contains your Videos) implement `OnSelectionListener` and in `fun onSelection(selection: Collection<Playback>)` add the following:

[code]

Though I did not fully confirm this against RecyclerView, it should work. The point here is `onSelection` will be called eve

[2019-12-03 15:28] Diegofr104 commented on #45
Thank you @eneim it works!.

Im very grateful for all the help you give to me, when i finish my project and get the investors i will compensate you for that, i promise you :).

[2019-12-04 00:50] eneim commented on #45
@Diegofr104 It is great that Kohii can help you. As said the manual control is still under designing phase and your input was truly helpful. If your service succeeds and you have the will to compensate, I will be grateful. So good luck.

I will close this issue, if you have any other trouble let's open new one.

[2019-12-04 00:50] #45 closed

[2019-12-17 11:33] #37 closed

[2019-12-19 00:15] eneim commented on #28
Fixed by https://eneim.github.io/kohii/

[2019-12-19 00:15] #28 closed

[2020-01-07 16:50] loicsiret opened #51 "Can we play all visible video at the same time ?"
Hi,
Is it possible to play all video that are visible at least 65%  in a recyclerView ?
Currently, only the top one is playing

best regards,

[2020-01-09 03:48] eneim commented on #51
Hi @loicsiret, it is doable, though I need to provide API for client to allow custom selection. The API is still somewhere in my mind because I want to make sure the decision doesn’t slow down other components.

[2020-01-09 03:49] eneim commented on #51
Also, need to mention that multi video playback should also take Audio focus into account. My plan is to force the audio to mute if there are many videos playing. This is another complicated decision need to be careful about.

[2020-01-30 22:27] Diegofr104 opened #53 "Using kohii in 2 activities"
Im having an issue about using kohi in 2 activities.

The problem is when i first open the activity 1 works fine, then open the activity 2 and works fine too but.. when i try to open again activity 1 it crash with this message

 java.lang.IllegalArgumentException: Failed requirement.
        at kohii.v1.core.Binder.providePlayable(Binder.kt:72)
        at kohii.v1.core.Binder.bind(Binder.kt:52)

W

[2020-01-31 15:03] #53 closed

[2020-02-06 02:59] silvershort opened #54 "Can't register in activity"
Using the Java language,
Java8 use specified in gradle.

[code]

kohii.register( >>> this <<<)

I get an error here

[2020-02-06 03:00] eneim commented on #54
@silvershort What is the error message?

[2020-02-06 03:10] silvershort commented on #54
Cannot resolve method 'register($PACKAGENAME.DetailActivity)'

[2020-02-06 03:13] silvershort commented on #54
The parameter type shows fragment and fragmentActivity but not Activity

[2020-02-06 03:16] eneim commented on #54
@silvershort looks weird. Can you try this `kohii.register(this@DetailActivity)`?

DetailActivity extends AppCompatActivity so it should be Ok.

[2020-02-06 13:00] eneim commented on #54
@silvershort Looks weird. Can you paste the full logcat here?

[2020-02-07 01:09] silvershort commented on #54
error: no suitable method found for register(MainActivity)
method Engine.register(Fragment,MemoryMode) is not applicable
(actual and formal argument lists differ in length)
method Engine.register(FragmentActivity,MemoryMode) is not applicable
(actual and formal argument lists differ in length)

=====================================

https://imgdb.in/grZ6

If you look at the photo in the link above

[2020-02-07 01:12] silvershort commented on #54
https://github.com/silvershort/KohiiTest

I posted some test code on my github that gives an error. confirm onegaishimasu

[2020-02-08 13:22] eneim commented on #54
@silvershort got the issue. It is because I do not add `JvmOverloads` annotation to the method.

For now you can use it like below:

[code]

[2020-02-08 16:33] plutonem-mobile opened #56 "there are some issues i found when using kohii with recycler view."
Hi, eneim.

I found some issues when i am using kohii with recycler view, here is the scenario.

in my recycler view, i need to update the data every 5 minutes in case there are some more datas come from remote server and each time the recycler get new datas, it triggers 'notifyDataSetChanged' function, then the adapter's 'onBindViewHolder' is triggered.  in the 'onBindViewHolder', i used 'kohii.s

[2020-02-08 16:39] plutonem-mobile commented on #56
![issue](https://user-images.githubusercontent.com/8728579/74088730-6c606400-4ad4-11ea-9de2-ec2a288e8fd0.png)

this 'renderOrder' function is called by adapter's 'onBindViewHolder' and here is how i trigger kohii

[2020-02-08 16:41] plutonem-mobile commented on #56
![issue2](https://user-images.githubusercontent.com/8728579/74088773-db3dbd00-4ad4-11ea-8c7e-a04cbd7333f8.png)

and bug happens here.

[2020-02-08 16:45] plutonem-mobile commented on #56
when the recycler view getting new order from remote server, it triggers 'notifyDataSetChanged' function, and the order with tag No.1 becomes No.2, and the new order with different media url becomes tag No.1. I guess that is why it crashes

[2020-02-08 16:51] plutonem-mobile commented on #56
![issue3](https://user-images.githubusercontent.com/8728579/74088904-420fa600-4ad6-11ea-876e-40b6a1891044.png)

this is how i set the videoTag

[2020-02-08 17:01] plutonem-mobile commented on #56
is it okay if I change the way the make the Tag? because in this mode, every time the recycler view is updated, the tag No.1 will point to the new order with different media data(because the original order's adapter position has changed to 2), so it will crash.

if i change the way to make the tag for example, generate a random number, so every time the adapter's onBindViewHolder function is being

[2020-02-08 18:53] plutonem-mobile commented on #56
okay, eneim. i handle it successfully!

the issue is because what i said upward, the way to create videoTag. the previous method can lead to the old tag point to the new data in recycler view.

i change my method to this

![issue1](https://user-images.githubusercontent.com/8728579/74090506-029d8580-4ae7-11ea-9bcc-fc9184381a8b.png)

and now if my recycler view get updated, the new order from remote

[2020-02-09 05:25] plutonem-mobile commented on #56
Hi, eneim, can you help me with this proble?

it is a big issue and i don't know how to fix this yet

[2020-02-10 04:15] spencergriffin opened #57 "Muted videos are stealing audio focus from other apps"
If I am playing audio in another app, and start a video with kohii, the audio focus is lost from the other app.

I am calling `kohii.applyVolumeInfo(VolumeInfo(mute = true), manager, Scope.GLOBAL)` to mute the videos.

Do you know how I can avoid requesting audio focus so the audio will continue in the background app?

[2020-02-10 06:14] #54 closed

[2020-02-10 06:41] eneim commented on #56
Hey, first you should use other method than notifyDataserChange. This method is the least performant trigger of RecyclerView and will cause everything to be re-bound.

Second, yes you need unique tag for your video. Using adapterPosition is for demo only. Please make it unique by your own mechanism.

[2020-02-10 06:45] eneim commented on #57
Do you mean your app that use Kohii loses audio focus? Or do you mean that other app loses audio focus to your app that uses Kohii?

By default when setting audio to mute Kohii will give up audio focus. This way your video will not pause other app’s video. It can be customized but not as straight forward in lastest release. Hint: please check the source code of KohiiPlayer. You can create your own

[2020-02-10 21:27] spencergriffin commented on #57
The latter, the other app loses audio focus to my app. Creating my own PlayerProvider does solve the problem; however, I may be missing something but it also requires creating a lot of other classes because I can't find a way to inject it.

[2020-02-16 06:08] wann2 opened #58 "when I open the downloaded source from Android Studio 3.5.3, I meet an error"
I has been looking for the solution in viewpager2 + video player, but the Kohii seems to be awesome for me.
I'd like to use Kohii, but when I open the downloaded source from Android Studio 3.5.3, I meet the follow error. Could you help me how to fix it?

ERROR: Plugin [id: 'org.gradle.kotlin.kotlin-dsl', version: '1.3.3'] was not found in any of the following sources:

- Gradle Core Plugins (plugi

[2020-02-18 11:20] mariuspena opened #59 "build errors"
hey @eneim !
I was trying to test out your solution in a recycler view (just like instagram plays/pauses videos)

on this line
`        Kohii kohii = new Kohii(this.getContext());
`
I get this:
`Kohii(android.context.Contex) has private access in kohii.v1.exoplayer.Kohii`

here is my grade build dependencies:

// ExoPlayer
    def exo_player_version = '2.11.2'
    implementation "com.google.androi

[2020-02-18 13:08] loicsiret commented on #59
As mentioned in the readme, in java you have to use static initialization, not calling Kohii constructor :

[code]

[2020-02-18 13:24] mariuspena commented on #59
oh my bad!!

one more question: when binding in adapter's viewholders what should I use ?
kohii.setUp(url, <what is this second parameter about?>).bind(playerView);

[2020-02-19 10:58] mariuspena commented on #59
I try to setup kohii in the adapter, but the setUp method needs another parameter besides url.
I searched the samples, read the readme, but I cannot figure it out.
@eneim can you help ?
thanks a lot

[2020-02-19 11:27] eneim commented on #59
Maybe this version is not updated with @JvmOverloads to support Java. I will check it when I get my hand on the code.

[2020-02-19 11:43] mariuspena commented on #59
@eneim I would be eternally grateful :)

[2020-02-20 13:56] eneim commented on #59
@mariuspena please try latest release: 1.0.0.2010004-beta5

[2020-02-20 14:00] eneim commented on #57
@spencergriffin At 1.0.0 I will open the constructor/builder for Kohii to help you inject just the code you need. For now I want to confirm the abstraction layer first. Please wait.

[2020-02-20 14:01] eneim commented on #58
Please use AS 3.6.0 latest RC to develop Kohii ...

[2020-02-20 14:01] #58 closed

[2020-02-20 14:02] #56 closed

[2020-02-20 15:06] mariuspena commented on #59
hey @eneim

my build gradle is

// ExoPlayer
    def exo_player_version = '2.11.2'
    implementation "com.google.android.exoplayer:exoplayer-core:$exo_player_version"
    implementation "com.google.android.exoplayer:exoplayer-ui:$exo_player_version"
    implementation "com.google.android.exoplayer:exoplayer-dash:$exo_player_version"
    implementation "com.google.android.exoplayer:exoplayer-hls:$

[2020-02-21 01:41] eneim commented on #59
@mariuspena Can you try with ExoPlayer 2.10.4? I believe it would not be different, but just to make sure.

In my environment, it looks fine though. The code below doesn't alert me anything:

[code]

[2020-02-24 12:01] mariuspena commented on #59
@eneim it works! :) thanks a bunch! I will be back with more questions

[2020-02-24 13:06] eneim commented on #59
@mariuspena Sounds great. Thanks and your questions are welcome. I will close this issue for now.

[2020-02-24 13:06] #59 closed

[2020-02-24 19:47] #57 closed

[2020-02-25 12:43] mariuspena commented on #59
@eneim how can add a listener for onLoadingChanged, onPlayerStateChanged, etc with kohii ?

when I was using it with SimpleExoPlayer I was doing something like this:
`        private void initVideoPlayer() {
            player = new SimpleExoPlayer.Builder(context).build();
            player.setPlayWhenReady(true);
            player.setVideoScalingMode(C.VIDEO_SCALING_MODE_SCALE_TO_FIT_WITH_CROP

[2020-02-25 14:24] mariuspena commented on #59
basically I am looking for the manual controller documentation here: https://github.com/eneim/kohii/blob/dev-v1/docs/usage/advance.md :)

[2020-02-26 11:16] eneim commented on #59
@mariuspena Let me answer your question one by one.

About the listener, currently I allow a custom callback: [StateListener](/blob/dev-v1/kohii-core/src/main/java/kohii/v1/core/Playback.kt#L428) which convert the important events from the `EventListener`. The reason I use this one is to avoid the interface changes by ExoPlayer version change. But I can open this in near future. If you are Ok with

[2020-02-29 18:17] mariuspena opened #61 "ArtworkHintListener"
what does it do ?

[2020-02-29 18:52] mariuspena opened #62 "Looping"
In my scenario I have a recyclerview, with an com.google.android.exoplayer2.ui.PlayerView in each item. I set it up in java like this
[code]

Is there a way I can have it looping if the user keeps that one item in viewport ? right now the ended callback is called and it stops.

[2020-02-29 19:04] mariuspena commented on #62
I searched the samples and found this
`repeatMode = Common.REPEAT_MODE_ONE
`but I am having trouble setting it up in java

[2020-02-29 19:12] #62 closed

[2020-03-02 05:43] #61 closed

[2020-03-12 22:30] plutonem-mobile opened #65 "Sync project with gradle gets "For input string: " Error"
Hi, eneim.

I just download the newest release version which you publish 20 days ago. i tried to open it in Android studio but got sync error imediately and cannot open.

the error look like this. i did not change any file of your release.

![69d5cd084812ee8fb0113657f38e846](https://user-images.githubusercontent.com/8728579/76572070-ff395780-64f3-11ea-90d3-291d25e5769d.png)

![c58d8e39ccadc26aa1be

[2020-03-13 10:21] farazahmed7 opened #66 "First video not playing in the nested recyclerview"
Hi
First of all I wanna thank you for this amazing library
Videos that are visible right away and are on the top of the list in a nested recyclerview wont play until you scroll down the list and then scroll up again so that views are attached again .

[2020-03-13 11:09] eneim commented on #65
I think it is because your download is not a git repo so a git command fails. Can you try clone the repo instead? Just to make sure.

[2020-03-13 11:10] eneim commented on #66
Can you share the code of your setup?

[2020-03-13 14:23] plutonem-mobile commented on #65
yes. i download it directly through zip file, because the speed through git clone is too slow and usually fail eventually.

is there a way to fix the upfront question if i cannot clone?

[2020-03-14 08:24] eneim commented on #65
@plutonem-mobile You will need git to do so:

Run the following commands from the project folder:

[code]

Then open the project by Android Studio. If you are using AS 3.6.1, it will ask you to update the version. Please go to buildSrc/java/kohii, open Dependencies.kt and change:

[code]

to
[code]

[2020-03-14 09:02] plutonem-mobile commented on #65
ok thanks. i will give it a try.

[2020-03-14 10:05] plutonem-mobile commented on #65
so cool, i got it down !
thanks your help again eneim.

[2020-03-14 14:35] plutonem-mobile opened #68 "stop / pause the video"
Hi eneim, can you show me the way to stop the video when user click the playerView.

I tried methods like pause() in manager but not ganna work and i cannot find way like stop() method in exoplayer.

[2020-03-14 16:50] plutonem-mobile commented on #68
i just found two methods i think might gonna work, but i am not sure

1. dispatchStop() from DefaultControlDispatcher.kt
2. pause() from PlayerViewBridge

these are both methods i found in the inner class. is that possible to handle pause effect through these two methods?

[2020-03-14 16:59] plutonem-mobile commented on #68
i just use this method to gain pause effect, pretty tough process looking through all this XD

![9e4ebe98e3bb9c65ee56c6b8a62dbf8](https://user-images.githubusercontent.com/8728579/76686673-26109e80-6658-11ea-84ba-00211430b6c8.png)

but i guess it's not the best practice, may be you could tell if there is a better way to fulfill this?

[2020-03-15 13:07] eneim commented on #68
@plutonem-mobile This requirement is addressed, but not perfectly in Kohii, due to various reason.

If you want to try out, please find the information below:

1. You need a `Manager` instance other than just `Kohii` instance:

[code]

2. When you setup the Video, you need to pass a DefaultControlDispatcher to it:

[code]

By changing the value of `kohiiCanStart`, and `kohiiCanPause` you can see h

[2020-03-15 14:01] plutonem-mobile commented on #68
okay, thanks eneim, i will try in later then.

[2020-03-15 14:03] plutonem-mobile commented on #68
the good news it i am not gonna use it on RecyclerView, just in page like this.

![image](https://user-images.githubusercontent.com/8728579/76702947-b6a6b780-6708-11ea-99a9-a75495ce6d81.png)

[2020-03-15 20:31] plutonem-mobile commented on #68
I just try your method but i found that it is little bit out of my point. the design i made is when the user click the playerView, then the video will pause directly without the control panel appear. and the user could click again to resume the video.

is there a better way other than the method i send upward to also achieve this kind of design pattern? (pause without showing control panel)

[2020-03-16 12:59] eneim commented on #68
For your use case, please try the practice below:

1. Create a custom `Controller`

[code]

2. Setup the Video with an instance of `MyController`:

[code]

Also set the click listener:

[code]

Note that sometime the PlayerView is not clickable, I have no idea but in that case you may need to wrap it by a FrameLayout or something. You need to set the click listener to that View instead.

[2020-03-16 16:14] plutonem-mobile commented on #68
perfect, this method has got me what i want.

just wish kohii could be even better XD.

[2020-03-16 19:48] Diegofr104 opened #69 "Change video uri when rotate screen"
I want to know if i can change a video uri when the screen rotate(one uri in landscape and another in portrait), i try to bind again the player and show me an error:

[code]

There is a method or something i can do in kohii to do that?

[2020-03-17 01:10] eneim commented on #68
@plutonem-mobile Thanks. Your feedback is indeed help to improve it.

[2020-03-17 01:10] #68 closed

[2020-03-17 01:12] eneim commented on #69
You want to use 2 different Videos in different orientation for the same position? What is the difference between videos?

[2020-03-17 04:56] farazahmed7 commented on #66
I have updated with the code. Sorry but the highlighting is messed up. Tell me if you need anything else

[2020-03-17 18:45] Diegofr104 commented on #69
Yes i want 2 different videos for the same position and change that video if you are in landscape or portrait. the difference is that the portrait video has a 2 videos running in one(mp4 video encoded like this), one that covers all the screen with a blur radius, then another video on top of previous one with smaller width and height.(uploaded a screenshot if how it looks...[https://i.imgur.com/uz

[2020-03-22 19:01] #65 closed

[2020-03-25 12:33] #69 closed

[2020-03-25 21:06] cmpeguerog commented on #51
Any update on this

[2020-04-11 14:07] Kasss opened #72 "How to show PlayerView controller ?"
There is no set for show playerView controller, it always hide

[2020-04-17 14:22] eneim commented on #72
@Kasss it is not supported out of the box in 1.0.0. The reason is, showing controller = allow manual playback, which is not a trivial task to address. I'm re-designing the manual playback mechanism in 1.1 and will update it soon.

[2020-05-17 02:44] tberghuis opened #79 "Is it possible to use this library to create similar UX to tiktok"
I really want to create an app with a never ending list of full screen videos, but the swiping action snaps to next video like tiktok. If possible can you give brief advice an how you would implement or any useful reference material.

Thank you

[2020-05-24 07:56] eneim commented on #79
@tberghuis Sorry for the late reply. It is totally fine. You can also learn a few things from this issue I think: https://github.com/eneim/kohii/issues/68

[2020-06-02 16:34] iamkdblue commented on #27
@eneim I m getting ERROR: For input string: "", how do I solve this error

[2020-06-02 22:53] iamkdblue opened #81 "Some Video Pause forever when i try to scroll up"
First of all Big Thanks buddy for this library, it's awesome.

1)only some video pause, how can I solve this

2) distance between two slid screen is huge, I want to show 2 slid below just the first slide, how can I achieve?

3) I searched other close issue but never found, how to pause the video when tabs are changed

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/17172841/835

[2020-06-03 00:27] iamkdblue commented on #79
@tberghuis I am also doing the same, we can help each other.

[2020-06-05 05:51] eneim commented on #79
I will consider to add a sample with similar UI/UX in next major release.

[2020-06-05 05:52] eneim commented on #27
@iamkdblue You are downloading this library or you use it via build.gradle dependency?

[2020-06-05 05:55] eneim commented on #81
@iamkdblue Can you share with me the part of the code you are using? Can you explain more clearly about:

- Distance between two slid screen is huge, I want to show 2 slid below just the first slide? <-- this should be how you design your UI :-?
- How to pause the video when tabs are changed <-- what tabs are you talking about?

Please clarify more about the requirement, I cannot understand your a

[2020-06-05 05:55] eneim commented on #81
Also please send me the video URL you used in the screenshot above if possible. I will see why it pause that way.

[2020-06-05 06:42] iamkdblue commented on #81
- I am taking about bottom tabs(you can see in the gif) if I switched from the 2nd tab to any other tab that time video should be paused.

Note:- We should create a telegram group for this library.

[2020-06-05 07:49] eneim commented on #81
@iamkdblue How are you implementing the tabs?

I had chat system before, but I do not have enough time and capacity to handle. Will consider something like that.

[2020-06-05 09:51] iamkdblue commented on #81
@eneim I made myself after lots of efforts and work

[2020-06-06 13:44] eneim commented on #81
@iamkdblue When I try on my code, scrolling doesn't pause the Video. Which means that the issue may come from your implementation. Please help me to:

- Clarify your need. Your question is not well-formatted, for example `I want to show 2 slid below just the first slide` I cannot understand what _slid_ is and what you want to do know. You can draw or create some visual design instead, it would hel

[2020-06-06 15:17] iamkdblue commented on #81
@eneim I copy-paste your code, I try your code, it's working very well.

[2020-06-29 00:05] loicsiret commented on #51
@cmpeguerog please check : https://eneim.github.io/kohii/advance-multiple-playbacks/

[2020-07-04 07:14] eneim commented on #51
Thanks @loicsiret , yes I just release a new version that makes playing many Videos easier @cmpeguerog .

[2020-07-11 19:57] dinesh1301 commented on #68
@eneim Man, you are a rockstar!!

[2020-07-13 08:21] digvijayrajat opened #89 "on Pause screen goes black"
Hi First of all Thanks to you for such an amazing library. In my comparison, this was the best among all others.
My issue is when I try to pause video it has a black background instead of the current frame in Exo player I don't want to cover it up with thumbnail. can you please help me here I am using both Kohli and Unofficial YTplayer from the experiments have same issue in both places.
Please he

[2020-07-13 09:04] xibaca opened #90 "Overlapping videos when resize_mode="zoom""
I don't know if this is an issue with Kohii per-se (or with the ExoPlayer backend itself).

When we change the resize mode of PlayerView's such that they zoom in to fill the whole container size, potentially cropping if needed to maintain the video's aspect ratio (this is achieved using `resize_mode="zoom"`), if we have multiple video containers and these containers are close enough, their video f

[2020-07-15 08:23] eneim commented on #90
Interesting. Yeah it seems to be an issue of ExoPlayer, but let me take a look.

[2020-07-15 08:27] eneim commented on #89
Hi, thanks for using Kohii. Can you share with me the code you use Kohii?

If you use a non-PlayerView as the container, every time the App pauses a Video, it will recycle the PlayerView so it becomes black. If you use a PlayerView as the container in the call to `.bind(container)` it will stay there until user scrolls the screen and the View becomes invisible.

[2020-07-15 08:55] eneim commented on #90
@guilhermesgb It seems to be an issue if you use SurfaceView as the surface type for the PlayerView. For a quick dirty fix you can try to use TextureView instead. It is not a good workaround but if you need to fix it urgently. I will see if we can have a better fix and will discuss it in ExoPlayer repo when I have a better idea.

[2020-07-15 09:14] digvijayrajat commented on #89
`<?xml version="1.0" encoding="utf-8"?>
<layout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:app="http://schemas.android.com/apk/res-auto">

    <data>
        <variable
        </data>

    <com.google.android.material.card.MaterialCardView
        android:layout_width="match_parent"
        android:layout_height="match_pa

[2020-07-15 09:52] xibaca commented on #90
Thanks a lot for your time investigating it @eneim :)

It seems that in my case I might be able to get by with a little stretching of these video feeds, but should we need to maintain their aspect ratio, I might resort to this workaround for the meantime.

Thanks and I will try to keep a look on issues over there to learn more about what's going on under the hood :)

[2020-07-17 05:30] eneim commented on #89
@digvijayrajat Why do you need to wrap a FrameLayout by a PlayerView? what is the point of that PlayerView? As said, if you bind to a PlayerView instead of FrameLayout, it would resolve the issue.

[2020-07-22 03:47] bicos commented on #27
`org.gradle.api.GradleScriptException: A problem occurred evaluating root project 'kohii'.
	at org.gradle.groovy.scripts.internal.DefaultScriptRunnerFactory$ScriptRunnerImpl.run(DefaultScriptRunnerFactory.java:93)
	at org.gradle.configuration.DefaultScriptPluginFactory$ScriptPluginImpl$2.run(DefaultScriptPluginFactory.java:237)
	at org.gradle.configuration.ProjectScriptTarget.addConfiguration(Proj

[2020-07-27 15:15] tigerss opened #94 "[Question] Kohii release/cleanup"
Hi, there is an issue on a lot of devices like Samsung J7/A10 that have small memory for video codec. I'm using Kohii in a carousel with multiple videos and then I'm opening another screen/fragment with single a MediaPlayer. The MediaPlayer crashes with error (1, -5001) from the codec saying there's not enough memory for the codec.

How can Kohii be released in onPause/onStop? I tried kohii.cleanU

[2020-07-28 13:27] tigerss commented on #94
After further investigation Kohii does clean up itself without any extra work.
In my case the problem came from 4 Admob rewarded ads loaded in memory that lock codec resources and sometimes would crash the video codec.

[2020-07-28 13:28] #94 closed, assigned to nobody

[2020-08-08 17:16] spencergriffin opened #95 "Preload next video"
When scrolling the RecyclerView, I want the beginning of the next video to be preloaded to the cache so it will play immediately.

[2020-08-08 18:07] #95 closed, assigned to nobody

[2020-08-14 15:01] falguni0314 opened #96 "State dose not change of previous video"
Hi, thanks for kohii, love using it but I am facing below issue

If I pause certain video in view pager and move to next video and again go back to previous video it's still in pause state, kindly help me how to change the state and auto play the previous video.

[2020-08-16 12:35] eneim commented on #96
Can you share with me the piece of code you setup the ViewPager and Video? Basically a simple way for me to reproduce the issue so I can take a look into it.

[2020-08-16 12:40] falguni0314 commented on #96
@eneim thanks for your response, we have figured out the problem and  fixed it and works.

We are facing below two problem, it would be great if you could help us to fix this

1. when app is in onPause state video is still playing in background

2. we are not able to get the state of exo player when it's buffering

[2020-08-16 12:55] eneim commented on #96
Hi. About 1, can you try the "activeLifecycleState" flag when you setup a Manager? Try to set it to RESUMED and see if it helps.

About 2, you can use addStateListener to the Playback when get it from the callback in your setup: https://github.com/eneim/kohii/blob/c99beece0965d0b25f8ab754712f4bdb1e93cbab/kohii-sample/src/main/java/kohii/v1/sample/ui/combo/ExoVideosAdapter.kt#L77

Please try this a

[2020-08-16 13:05] falguni0314 commented on #96
1. activeLifecycleState = Lifecycle.State.RESUMED it's already set to RESUEMED

2.  it.addStateListener(holder)  added  it's extending  Playback.StateListener, could you please help me where are the methods for this

[2020-08-16 13:37] eneim commented on #96
About 1: if so it is a bug, I will take a look. Please tell me it is after onPause is called then the Video keeps playing? It is a Fragment or Activity?

About 2: in that call I let the ViewHolder implement the interface. You can use anything. The method addStateListener is set for a Playback object. In the call to "bind" you have a callback that notifies when the Playback is available. From there

[2020-08-16 13:40] falguni0314 commented on #96
1. It's an activity

2. I am really sorry to asking you this, could help me with a small snippet if I want to show progress bar when it's buffering.

[2020-08-16 13:51] falguni0314 commented on #96
1. It's an activity, kindly let us know once you are done with your investigation.

2. Thanks for your response.

[2020-08-17 03:06] eneim commented on #96
@falguni0314 Tried to use the TikTok demo for infestigating the issue 1, but having no luck. Is it possible for you to provide a simple project to reproduce it?

[2020-08-17 03:50] falguni0314 commented on #96
Sure, below is the sample project attached.

[DemoPlayer.zip](https://github.com/eneim/kohii/files/5082075/DemoPlayer.zip)

[2020-08-17 05:51] eneim commented on #96
@falguni0314 Thanks for the code. How did you produce the onPause event? The code seems to work for me though.

![debug_kohii_demo_player](https://user-images.githubusercontent.com/1776230/90361404-14b13f80-e099-11ea-8413-f8d03e52ec34.gif)

Below is your code with some minor change to debug:
[DemoPlayer_debug.zip](https://github.com/eneim/kohii/files/5082367/DemoPlayer_debug.zip)

[2020-08-17 05:59] falguni0314 commented on #96
@eneim thanks for your response the problem is when app is running and video is playing then if we press home button video plays in background, we want to stop that, but while playing the video if we turn off the screen it pauses the video which is ok.

[2020-08-17 06:10] eneim commented on #96
I see. Please help me to clarify the use cases:

- Press home while the app is on foreground and Videos are playing --> Videos should stop playing?
Question: Will it be _Paused_, meaning that when you open it from the background, it starts from where it was paused, OR it will be _Stopped_, meaning that when you open it from the background, it starts from the beginning?

- Turn off the screen while

[2020-08-17 06:13] falguni0314 commented on #96
1. Yes video should stop playing
    a. Yes it should pause and should starts from where it was paused

2. Yes video should stop playing
    a. Yes it should pause and should starts from where it was paused

[2020-08-17 06:26] eneim commented on #96
Hmm, I think it is working though. Below is a test using Android Emulator SDK 27.

![debug_kohii_demo_player_2](https://user-images.githubusercontent.com/1776230/90363401-a58a1a00-e09d-11ea-8643-19f1323bac75.gif)

Key event 3 = press home
Key event 26 = press power (turn screen on/off)

Can you tell me your testing environment? - Android device model if it is real device, or Emulator base image, A

[2020-08-17 06:35] falguni0314 commented on #96
I am using real device, below is device details

Device name: Oneplus 7T pro
OS: Android 10
SDK: 30

Action 1: Video is playing in foreground and then home button pressed app goes to background but video still plays in background  - **PROBLEM**

Action 2. Video is playing in foreground and then power button pressed and screen goes off video pauses, again when screen is on video resumes - **NOT A P

[2020-08-17 06:45] eneim commented on #96
Got it. Let me see if I can address this issue. Can you try the source code I sent above and check the `onStateChanged` callback and tell me what is the event sent to the callback when you press the home button? Maybe the Lifecycle reports wrong result.

[2020-08-17 06:51] falguni0314 commented on #96
Once home button pressed I am getting below log

lifecycle state: STARTED
lifecycle state: CREATED

Then again when app comes to foreground getting below log

lifecycle state: STARTED
lifecycle state: RESUMED

Also just an observation

**When power button pressed getting below exact log**

[code]

**When home button pressed getting below exact log**

[code]

[2020-08-17 07:05] eneim commented on #90
Just see the same issue is reported to ExoPlayer: https://github.com/google/ExoPlayer/issues/6955 . It's likely that we rely on the Android platform to fix/change the behavior.

[2020-08-17 07:10] eneim commented on #96
Got it. Thanks. Currently I cannot reproduce the issue. I will go through the code and see what I can do. At the meantime, please try the code below to manually lock/unlock the playbacks in a Manager:

[code]

[2020-08-17 07:16] eneim commented on #96
Also, if you have a few minute, please use a checkpoint at this line https://github.com/eneim/kohii/blob/1d8e8b51f8905aee5d9ee82df022f98e666d00a5/kohii-core/src/main/java/kohii/v1/core/Manager.kt#L297 and see when you press the home button, it goes to that line or not. It can be some device-specific issue that only you can help.

[2020-08-17 07:31] falguni0314 commented on #96
kohii?.unlockBucket(manager)

manager gives below error

**Type mismatch: inferred type is Manager but View was expected**

[2020-08-17 07:43] eneim commented on #96
Ahhhh sorry, it should be `unlockManager`. A bad copy-paste.

[2020-08-17 07:51] falguni0314 commented on #96
The above provided solution is not working, but interesting finds I have made which are below based on devices

1. Nokia 7plus - **Works fine**
2. Samsung Note 9 - **Work fine**
3. Xiomi Mi A3 - **Works fine**
4. Motorola Moto X4 - **Works fine**
5. Oneplus 7T pro - **Not Working**

[2020-08-17 08:07] eneim commented on #96
@falguni0314 Interesting result. Does the other devices you got above work without the change I suggest?

[2020-08-17 08:12] falguni0314 commented on #96
It's working without the change.

[2020-08-17 08:17] eneim commented on #96
I see. If so it might be something lies inside the flow. The only thing I can think of is Oneplus 7T has custom Handler implementation that may not deliver the messages correctly.

[2020-08-17 08:20] falguni0314 commented on #96
Ok, is there any work around for this ?

[2020-08-17 08:27] Nishit79 commented on #68
I am using the following versions of thi lib:

implementation "im.ene.kohii:kohii-exoplayer:1.1.1.2011003"
implementation "im.ene.kohii:kohii-core:1.1.1.2011003"

I cant able to find method findPlayableForContainer(container) in Manager class .
val playable = manager.findPlayableForContainer(container)

So will you please provide some update snippet of code regarding pause/play video with user int

[2020-08-17 09:19] xibaca commented on #90
Thanks for your time looking at this. Indeed it is rare to be the first to spot a new issue :)

I've too have been using the TextureView fallback as a workaround, as per your suggestion, with no drawbacks.

PS: feel free to close this issue, in case you feel like it doesn't need to be open here.

[2020-08-17 12:50] eneim commented on #96
@falguni0314 I'm afraid not yet. There is `Master.lock()` which is the kill-switch for every Playback in the library (you can get the master by calling `kohii.master`), but it has the same effect as `kohii.lockManager` above: Currently this is the condition I use to decide to return empty candidates or not:

`lock || lifecycleOwner.lifecycle.currentState < activeLifecycleState`

So basically the w

[2020-08-17 14:01] falguni0314 commented on #96
@eneim I have made an amazing find that writing below code fixes all the problem

    override fun onStop() {
        super.onStop()
        kohii?.master?.unlock()
    }

[2020-08-17 14:18] eneim commented on #96
lol this is so unexpected >.< does it work with unlockManager? basically you should control the scope you want to unlock.

Maybe the way the messahe queue works needs some investigations.

[2020-08-17 14:22] falguni0314 commented on #96
No unlock manager is not working

kohii?.unlockManager(manager) - **Not working**

kohii?.master?.unlock() - **Working**

[2020-08-17 14:58] falguni0314 commented on #96
Also by doing the above code creates a new bug, if we turn off the display and then again turn it on, video doesn't play, shows a blank screen.

[2020-08-18 01:12] eneim commented on #96
No clue yet, but please try to also call the unlock method in "onResume" or "onStart" maybe. Still it is not how it supposes to work. I will try again later.

[2020-08-18 05:18] falguni0314 commented on #96
Not working, please let us know if you get any solution.

[2020-08-20 04:50] easedroid opened #97 "How to pass authorization header in the library?"
@eneim
Usually we used below in exoplayer,

[code]

Now my question is how to add authorization while initiating. I got this one which is used to prepare sources

`kohii.setUp(streamUri)`

[2020-08-20 06:00] #90 closed, assigned to nobody

[2020-08-20 06:28] eneim commented on #97
@easedroid You can build Kohii instance using Builder. The code is a bit verbose. Please find the suggestion below:

- Below is the lambda to create a Kohii instance with custom DataSource.Factory:

[code]

My recommendation is to use Kohii as Application-scoped singleton, so you can put the code above to a _Capsule_ (this is an util class in the library):

[code]

Please try this and let me know.

[2020-08-20 20:34] easedroid commented on #97
@eneim
I did as you suggested but no luck, It stuck at black screen but I can see the log that it started buffer. Can you please add it to your sample project which can be much easier. The library can be awesome with little changes. It is simpler for normal videos(without auth url's) but with auth streaming is much more difficult.
For my case player view container is taken under a frame layout.

[2020-08-21 05:18] falguni0314 commented on #96
Hi, is there a way to stop auto play?

[2020-08-22 01:50] eneim commented on #97
@easedroid Please try the code below to inject your custom MediaSourceFactory when you create a Kohii instance.

[code]

I tried this and the connection contains the necessary headers.

I do not have a server to be able to build a proper example with custom header, but I can add the code to the kohii-sample code later.

[2020-08-22 08:33] easedroid commented on #97
@eneim
Thanks for your help but it's not worked. Here is what I am using in my viewholder

                        ` kohii?.let { kohii ->
                                    kohii.setUp(streamUri) {
                                    tag = "${streamUri}+${position}"
                                    preload = true
                                    repeatMode = Common.REPEAT_MODE_ONE

[2020-08-22 08:35] eneim commented on #97
This is when you use Kohii to setup the Video and it has nothing to do with the DataSource.

Please let me know How do you create the Kohii instance and How did you know that the header doesn't work?

[2020-08-22 09:09] easedroid commented on #97
Thanks @eneim it is working now, it was a silly mistake by me after adding your suggestion I forgot to set visibilty of the layout.
Now I recheck with previous solution which is still not working but who cares the last one more simpler.
Great works man 🥇 , you help me a lot.

You can add this into your sample also, in case anyone require this in future can get it from there without raising issue l

[2020-08-22 09:15] eneim commented on #97
@easedroid Great it helps.

[2020-08-22 09:15] #97 closed, assigned to nobody

[2020-08-24 12:45] saurabhthorat opened #98 "How to get Playable for a ViewGroup?"
I've been using [`Manager#findPlayableForContainer()`](https://github.com/eneim/kohii/blob/69f8cc31dfcdf4a1070137fcf898f2b8c6daf891/kohii-core/src/main/java/kohii/v1/core/Manager.kt#L195), but that method has been [removed](https://github.com/eneim/kohii/commit/a38d93a392cb5463c9ae6e81351e575a1c157c94#diff-07814a83daf4bd93a9be192f3917ba77L195) in v1.1.1.2011003. Is there any method that replaces t

[2020-08-24 13:22] eneim commented on #98
@saurabhthorat One you get the Playback instance you can access the Playback's Playable. It is the same thing: https://github.com/eneim/kohii/blob/1d8e8b51f8905aee5d9ee82df022f98e666d00a5/kohii-core/src/main/java/kohii/v1/core/Playback.kt#L371

[2020-08-24 13:41] loicsiret opened #99 "[Feature-Request] Supporting exoplayer-ima"
Hi,

is the support of ima in your backlog ?
If so, di you need some help for doing it ?

[2020-08-25 07:24] Nishit79 commented on #98
@eneim how can we get playback instance can you please write some snippet of code

[2020-08-25 12:12] eneim commented on #98
@Nishit79  In the call to `bind` you can pass a callback which gives you the Playback instance once it is bound:

[code]

An example can be found here: https://github.com/eneim/kohii/blob/91992a5615446660a69e615ef0b63a551c4c55e4/kohii-sample/src/main/java/kohii/v1/sample/ui/fbook/vh/VideoViewHolder.kt#L91

[2020-08-25 12:14] eneim commented on #99
@loicsiret Hi, yes it is under design at the moment. One thing I really want to know is the real-world use cases/scenarios. What kind of behavior/use case you want to have with exoplayer-ima support. It will help me to make it done easier :D. Currently I barely follow the API of IMA and what ExoPlayer shows in the demo.

[2020-08-25 12:44] Nishit79 commented on #98
hi @eneim thanks for the above reply
one more query I was having how can we use custom controller for exoplayer in Java?

[2020-08-25 13:30] eneim commented on #98
@Nishit79 Please find a snippet below:

[code]

[2020-08-25 16:57] loicsiret commented on #99
If you want, we can talk about it :)

Le mar. 25 août 2020 à 08:14, Nam Nguyen Hoai <notifications@github.com> a
écrit :

[2020-08-28 19:21] loicsiret commented on #99
To follow
Currently, what I need is :
 - be able to pass a adTagUrl to the video
 - provide custom imasdksettings (can be injected somewhere)
 - monitor adEvent callback

Right now in our application we have two kind of ads video : AdsOnly and Preroll.

I take some time looking in Toro library and it is exactly the same thing that I need. 😅

If I can help you to develop this part, don't hesitate t

[2020-08-29 05:10] eneim commented on #99
@loicsiret Oh sorry I could not reply to you earlier, was in a busy last week. I will push the code of my current design with the basic building blocks. I think you can take a look and explore the ability of it.

Of course, PRs are always welcome. For any details that are business-related (which contains information you cannot disclose in github issue), you can email me at nam@ene.im for further d

[2020-08-29 11:48] eneim commented on #99
@loicsiret Hey, you can find the very first iteration of the design here: https://github.com/eneim/kohii/pull/100

As said, I have quite a little experience of Video Ads in practice. What I know is mostly from reading the document (of IMA for example). Having feedback or even contributions are really helpful. Thanks and appreciate your contribution.

[2020-09-01 14:59] nirazv opened #101 "Error : kohii.setUp(url).bind(playerView) class file for kotlin.jvm.functions.Function1 not found"
I am getting compile time error while using Kohii with Java

kohii.setUp(url).bind(playerView) class file for kotlin.jvm.functions.Function1 not found

My Code

` container = findViewById(R.id.container);
    playerView = findViewById(R.id.playerView);
    Kohii kohii = Kohii.get(this);
    kohii.register(this).addBucket(container);
    kohii.setUp(url).bind(playerView);`

[2020-09-01 15:09] #98 closed, assigned to nobody

[2020-09-03 07:13] eneim commented on #101
@nirazv Can you take a look at this SO link and double check your compiler setting and Kotlin versions?

https://stackoverflow.com/questions/35161913/kotlin-cannot-access-kotlin-jvm-functions-function1-when-calling-kotlin-function/55742956

[2020-09-04 18:44] loicsiret commented on #99
It works very well 👍

Just one concern about one thing.

In our case, we received from backend a list of object like :

[code]

Our backend is in charge to put adTagUrl or not  So in your solution (execpt error on my side) it is mandatory to have an adTagUrl.

I tried something like :
[code]

But I get ```java.lang.IllegalArgumentException: Failed requirement.
        at kohii.v1.ads.exoplayer.Pla

[2020-09-05 07:42] eneim commented on #99
Yeah makes sense. I will see if the idea that Manilo is just an extended version of Kohii that can support ad optionally.

[2020-09-08 09:47] eneim commented on #99
@loicsiret I just push an update to the pull request. It allows nullable AdUri and will fallback to PlayerViewBridge when null.

[2020-09-10 19:54] loicsiret commented on #99
Amazing, I will try it tomorrow !

[2020-09-12 10:25] uberchilly opened #102 "Exo player hls data source request headers?"
Is it possible to setup request headers like this
[code]

[2020-09-12 10:37] eneim commented on #102
@uberchilly You can build your own provider class for Kohii and gives it custom MediaSourceFactory creation like this: https://github.com/eneim/kohii/issues/97#issuecomment-678577774

[2020-09-12 11:00] uberchilly commented on #102
That worked. Thank you for the quick reply.

[2020-09-12 11:00] #102 closed, assigned to nobody

[2020-09-12 13:02] uberchilly opened #103 "How to survive orientation but clear cache when closing screen"
Hello,
I am currently using this setup with a tag, to survive the orientation change.
![image](https://user-images.githubusercontent.com/5727941/92996041-b39a5180-f508-11ea-9095-143fc851f13a.png)
And that is working fine.

Now I am trying to clear stored information when the user is leaving the screen so that it will be played from the beginning next time user opens it, like this
![image](https://

[2020-09-13 19:06] EpariNigam commented on #72
Hi @eneim

Thanks for the great library. Is there any update regarding this feature?

[2020-09-14 11:19] eneim commented on #103
@uberchilly By saying `leaving the screen` what Android's lifecycle events are happened during that transition? If the application is destroyed, all the information should be cleared, but if only the Activity is destroyed but not the Application, then it needs some work. I will take a look, but please help me to understand the behavior clearer.

[2020-09-14 11:21] eneim commented on #68
@Nishit79 can you create this in a new issue? Your issue was in a closed one so I could not be notified by it. I will take a look at this soon.

[2020-09-14 11:23] eneim commented on #68
@Nishit79 to get the playable instance, you need the Playback instance. Please find a snippet below

[code]

[2020-09-14 11:26] eneim commented on #72
@EpariNigam You can find information about manual Playback (which covers the way to use controller for PlayerView) here: https://www.notion.so/Manual-playback-controller-in-Kohii-212927dd75de4971bc28d27e4b34911a

[2020-09-14 12:04] uberchilly commented on #103
@eneim What I mean is the second scenario where the activity is destroyed but not application.
What I did to solve it:

[code]
In short, when orientation change happens I skip the call to playback.rewind(refresh=true)
And I force a refresh in every other situation.

[2020-09-14 12:36] eneim commented on #101
Also post my answer here:

https://stackoverflow.com/a/63884465/1553254

[2020-09-14 12:59] eneim opened #104 "Has issue working with retained Fragments"
When Fragment's retainedInstance is set to true, configuration changes doesn't work correctly.

[2020-09-15 15:42] #101 closed, assigned to nobody

[2020-09-18 02:46] eneim commented on #103
@uberchilly I see. It is not elegant I agree. Sadly I think in the latest stable release there is no convenient way for this. I have an idea about using ViewModel-alike mechanism to address this use case. I will spend some time working on this and it will be in the next release.

[2020-09-18 03:56] iregados opened #105 "play / pause when clicked"
In my fragment i've done

    val kohii = Kohii[this]
    val manager = kohii.register(this).addBucket(binding.recyclerView)

then I pass them to my adapter like

     val adapter = MainTimelineAdapter(timelineList, kohii, manager)

on my adapter i have done

            kohii.setUp(videoUrl!!) {
                tag = "${videoUrl}+${position}"
                threshold = .8F
            }.bind(hol

[2020-09-18 04:31] iregados commented on #105
achieved it when i setted the controller also, like

        kohii.setUp(videoUrl!!) {
                tag = "${videoUrl}+${position}"
                threshold = .8F
                controller = object : Playback.Controller {
                    override fun kohiiCanStart(): Boolean = true
                    override fun kohiiCanPause(): Boolean = true
                }
            }.bind(holder

[2020-09-18 14:33] iregados commented on #105
ok i believe that I am almost there, now i have done

            <FrameLayout
                    android:id="@+id/playerViewContainer"
                    app:layout_constraintTop_toTopOf="parent"
                    android:visibility='@{(tweet.retweetedStatus == null ? tweet : tweet.retweetedStatus).mediaEntities.size() > 0 ? ((tweet.retweetedStatus == null ? tweet : tweet.retweetedStatus).med

[2020-09-18 21:50] iregados commented on #105
done it...had to "clear" the PlayerViews as i scroll...something like Glide does with .clear().....if there is a video on my holder i setup the right url...if there is no video on my holder i setup an empty url and bind it to the gone PlayerView just to avoid recycling mistakes...

is it right?

Man such a powerfull library and yet really simple to work with....you are a monster

[2020-09-19 11:35] eneim commented on #105
@iregados I saw you have solved the play/pause on click issue. So the remaining issue is:

I believe. I will try to reproduce and see.

[2020-09-19 11:56] iregados commented on #105
This is actually solved by setting an empty url and binding it to the
PlayerViews where there is no video to display.

The problem is not with your library but with how Android recycle things...
All I need to do is "clear" those PlayerView without videos to show.

You could create a clear function.. Something like Glide does

Em sáb, 19 de set de 2020 08:35, Nam Nguyen Hoai <notifications@github.c

[2020-09-19 13:42] eneim commented on #105
@iregados Thanks for the kind words. I also acknowledge that the RecyclerView may behave weird. Something a View not in the viewport is attached, etc. I actually try to address that by calculating the View's coordinator and some other metric to know if it is visible or not. Though it maybe not yet enough. I will look into both, one is a kill-switch that client can use in such cases, another thing

[2020-09-20 04:25] #99 closed, assigned to nobody

[2020-09-23 12:04] musaabshirgar1 opened #106 "The last video in the recycler view doesn't play."
I have a recycler view which contains a TextView along with the PlayerView and everything is working fine except that the last video in the recycler view doesn't play. I think that's because I noticed that the video only starts playing when the PlayerView is in focus but since the last item in the recycler view stays at the end, it doesn't come in the middle of the screen to get focus. Is there a

[2020-09-23 20:05] deepanshut041 opened #107 "Kohii is playing video in background."
I'm using kohii inside fragment in recyclerview. I have bottom navigation activity in which I'm using .show() and .hide() to change fragment.

## Current behavior:
Video is playing on hide fragment.

## Expected behavior:
Video must pause on hide fragment and resume on show fragment.

[2020-09-25 02:01] eneim commented on #107
@deepanshut041 I guess Kohii cannot judge if the Fragment View is detached. Please try `kohii.lockManager(fragment)` (API: https://github.com/eneim/kohii/blob/bb096fd2f5176f4c180783422918dff81f7c8142/kohii-core/src/main/java/kohii/v1/core/Engine.kt#L201) to lock all possible playbacks in a Fragment, and use `kohii.unlockManager(fragment)` to unlock it.

[2020-09-25 02:59] eneim commented on #106
@musaabshirgar1 How many PlayerView you have in the screen when you oberve the issue?

[2020-09-25 04:33] musaabshirgar1 commented on #106
@eneim i am using a recycler view so in theory i am just using the same player view for every data in the recycler view. But if you are asking about how many items can fit in the screen at once then the answer would be 2

[2020-09-25 16:26] deepanshut041 commented on #107
@eneim thanks below solution worked for me

[code]

[2020-09-25 16:28] #107 closed, assigned to nobody

[2020-09-25 18:26] nirazv opened #108 "controller not working without tag in Binder.Option?"
I implemented kohii with ViewPager2 but when using tag in Binder.Option its save the current track position of every video which I don't want because of memory limitation. Hence i removed the tag from Binder.Option

When I removed the tag, the controller is also not going to work?

How I can prevent to store the current track position/seek from videoplayer, however the controller should work?

Her

[2020-09-26 10:53] eneim commented on #106
@musaabshirgar1 Yeah. I mean when you observe the issue, how many Videos are being shown in the screen. One scenario is when you have 2 Videos in the screen at the same time, and both are visible enough, the one on the bottom will never be played. I guess it is not your case, but I want to clarify first. (If you can share a screenshot of the screen that time it will be helpful).

[2020-09-26 10:55] eneim commented on #108
Sadly almost all advance usage of Kohii requires the tag. I'm working on an update that will optionally purge the cache of the Videos when its Manager is destroyed (or is transited to the state of your choice). Right now, what you can do is to manually reset the Playable at the expected timing.

[2020-09-26 10:59] musaabshirgar1 commented on #106
@eneim yes that's exactly what happens. When i scroll down to the bottom most elements of my recycler view, only 2 items are visible, the top one is playing perfectly fine but the bottom one will never play because since it is the last item in the recycler view and i can't scroll down further. Is there a way through which i can play atleast the last one?

[2020-09-26 13:05] eneim commented on #106
@musaabshirgar1 I have thought about this a few time and to be honest, it is not really easy from library's point of view. The reason is as below:

Considering the scenario where the user is seeing 2 Videos at the same time (let's say, A and B, where A is above B), we need to answer the following questions to be able to decide what to do next:

- [ ] From a state where the video A is playing and B

[2020-09-26 14:07] nirazv commented on #108
How to reset Player while using kohii and how much it will take to release the new update?

[2020-09-28 23:44] eneim commented on #108
When you setup a Video, there is a callback to give you the Playback instance. (kohii.setUp(video).bind(container) { playback -> /* do something */ }). You can save this playback and when you need to reset it, call playback.playable?.onReset().

The change to support this is not trivial so you can expect a month or so. I will update the status of better work-around in this issue.

[2020-09-30 16:41] musaabshirgar1 commented on #106
@eneim I appreciate your time but the code that you had sent above just increases the complexity. I mean to implement Kohii in recycler view is very easy (Thanks to your awesomeness) but the only problem i am facing is for playing the last video in the recycler view. Can you suggest something else? Other thing that i can do is play all the videos at once but I tried "strategy = Strategy.MULTI_PLAY

[2020-10-02 09:10] nirazv commented on #108
its working fine but the play/pause state is not resetting?

Example - if i tap to pause player the video is paused and i scroll to next video its fine(reset) but when i came back to the prev video the state (pause) still remains , How can i reset Play/Pause state also?

[2020-10-02 09:29] idrisadetunmbi opened #109 "Video does not fill container"
This is not much of an issue, but when I play a video in a container, it doesn't fill up the container. There is about some vertical padding (8dp) on the video when it starts playing. Not sure if this is an issue with the resolution of the video or it is just how the library works.

[2020-10-11 00:23] dev8500 opened #110 "Out of Memory issue with MemoryMode config"
Hi,

I am seeing an out of memory issue on Android 7 device when using memory mode setting. As per docs, it says the memory mode can make sure such errors don't occur. Not sure if this is a bug in the memory mode code. Plz investigate.

**This is my Kohii code:**
[code]

**Error**:
[code]

[2020-10-11 01:11] dev8500 commented on #109
You have to work on your PlayerView to configure how the video is set. This is a UI issue, not a playback or library issue.

[2020-10-11 06:14] idrisadetunmbi commented on #109
So I am actually using the automatic renderer set-up as described [https://eneim.github.io/kohii/advance-reuse-renderer-instance/](here) I have the `FrameLayout` set to `match_parent` but when the video loads in, it just adds that vertical padding before it starts playing.

[2020-10-19 06:51] eneim commented on #110
@dev8500 Can you share the Video url you used in this case? It maybe that the amount of memory to play the Video is out of handlable range. But will take a look.

[2020-10-19 06:56] eneim commented on #109
@idrisadetunmbi Can you share the xml you use for your container?

[2020-10-19 07:04] eneim commented on #108
@nirazv It is rather a complicated use case. Originally my thought when designing this feature: if the user manually pauses a Video, it should be the user to resume that video. It is kinda the answer to the question `who wants to do what`.

I understand it is reasonable to enable the control flow so that when the user scrolls the Video back, it resumes.

Now about designing this: because any scrol

[2020-10-22 13:41] loicsiret opened #112 "Manual playback and Visibility stop"
Hi,

I face a problem when I have two video on my recyclerview.
I Implemented a onclick listener to manual start/pause of my playback.

When I click on the first one, everything is fine it pause/start as required.
But on the second one, `playback.manager.play(playable)` is called, but it didn't play.

If I set `kohiiCanPause` to false in my controller, my click listener works, but the video did'n'

[2020-10-29 17:54] falguni0314 commented on #96
Hi is there any solution to the last issue which we have mentioned.

[2020-11-02 20:14] jsadovskaya opened #114 "Video playback does not resume after screen was turned off and on quickly"
Hi! thanks for your library, it's very helpful!

I faced an issue with resuming video playback after device screen was turned off and then turned on again. The video playback is staying locked and doesn't resume. It's reproducing stably when I do it quite quickly (on real devices and emulators).

I made some investigations:
- I found screenStateReceiver in Master.kt that handles system intents and

[2020-11-14 11:25] arsalrao opened #115 "How to manage Player States when Recyclerview item change."
Hi Nam,
Thank you for providing this.
How can I manage the states of the Player?

When I update the recycler view item like favourite/unfavourite then the video will restart. I need as the video will not restart it keeps playing.

[2020-11-24 10:48] missphyrgames opened #116 "Is it possible to use this with a FragmentStateAdapter?"
Hi eneim,

Thank you for this great library, however, I'm having trouble using this with a FragmentStateAdapter and making sure I'm following best practices. Would you be able to guide me on how to achieve this?

[2020-11-24 11:01] eneim commented on #116
@missphyrgames Do you mean using it in ViewPager with FragmentStateAdapter? If it is, you can find some existing sample here: https://github.com/eneim/kohii/tree/dev-v1/kohii-sample/src/main/java/kohii/v1/sample/ui/pagers, please also clarify your current attempt and what doesn't work so I can investigate.

[2020-11-24 11:02] eneim commented on #115
@arsalrao Sorry for the late reply. Do you have a tag for your Video? How is the setup looks like for you? How did you do when the change happens? (For example, did you call notifyItemChange or you just call notifyDatasetChange, etc?)

[2020-11-24 11:05] eneim commented on #114
@jsadovskaya Sorry for the late reply and really thanks for the investigation. Please allow me some days to look into the issue and deliver a fix. I believe a simple change in the way of handling the Intent would fix it.

[2020-11-24 12:47] missphyrgames commented on #116
@eneim Thank you so much for the quick reply! I'll have another go at this! Also, thank you for the link.

If you don't mind would you please also answer a few more questions I have:
1. Is it more efficient for allowing kohii to create a playerview from the pool (using a view container in the layout file) or is it better to have a playerview component in the layout file for each page in the viewpa

[2020-11-24 12:50] missphyrgames commented on #116
This is what the setup looks like:

[code]

[2020-11-25 05:48] arsalrao commented on #115
@eneim Thanks for the reply.

**Do you Have a tag for your Video?**
I'm not using any TAG for video but when I try to set TAG as video URL or any data types then the player did not play any video it throws an exception `com.google.android.exoplayer2.mediacodec.MediaCodecRenderer$DecoderInitializationException: Decoder init failed: c2.android.mpeg4.decoder, Format(1, null, null, video/mp4v-es, null

[2020-11-25 20:41] dinesh1301 opened #117 "Is it possible to get the current position of video being played?"
Is it possible to get the current position of the video which is being played? I want to poll for it's position and take necessary actions.
Also, instance of player from playerview returns null. Is it expected or I am doing something wrong?

[2020-12-03 20:26] Alvazz opened #118 "with airbnb epoxy"
Hi, thanks for you great work.

can you share some sample demo with the Epoxy. thanks ag.

[2020-12-07 16:40] ScottCooper92 opened #119 "Manual Pausing/Resuming of all Playables."
Hey, thanks for the library, it's made developing my app a breeze.

I've implemented Kohii and provided my fragment lifecycle so that the when the fragment pauses/resumes the playback is also paused and resumed.

I'm currently trying to add a dialog to my UI that appears above the video player, hence I would like to pause and unpause based on the visibility of the dialog. Unfortunately dialogs don

[2020-12-08 06:48] arsalrao commented on #115
@eneim hope you are well and doing great.
any update about this issue?

[2020-12-08 12:41] dinesh1301 commented on #117
@eneim hey man, by any chance did you get a chance to go through this issue?

[2020-12-10 20:52] easedroid commented on #109
I have the same issue, Here is my layout

[code]

I don't know what is wrong? If you can point me where I am wrong than that would be great help.

[2020-12-10 21:10] easedroid opened #120 "Kohii keeps playing while open new activity on top of it"
on button click another activity should open from the player activity but to do so the player keeps playing the video which is not expected.

PlayerActivity->fragmentContainer->ViewPager2->PlayerView->Playing Videos
PlayerActivity(State- Video playing)->Button->New activity(Video still playing)

This is how I initialize Kohii,

[code]

Then in fragment,
[code]

I hope you get my point. I may have

[2020-12-14 08:40] OhJeongGyu commented on #66
Hello. Thanks for your good library. @eneim
Is this issue on going? I'm looking for library to make new feature that shows horizontal recyclerview in vertical recyclerview with zoomable exoplayer.. like instagram
Thanks :)

[2020-12-20 09:25] eneim commented on #115
@arsalrao Sorry again, I have some busy weeks so cannot focus on this library. A few points to keep in mind:

- If the ViewHolder is not re-bound, or is re-bound without touching the PlayerView, your setup should be intact (so there should be no reset/restart of the Videos). Please check if your ViewHolder that is bound to the Video is re-bound or not. And what happens if you override the onBindVi

[2020-12-20 09:27] eneim commented on #109
@easedroid Do you have a screenshot about the issue? With this setup, it will try to consume as much height as possible. So I doubt that it will be correct. You can set layout_height to "wrap_content" for both the PlayerView and the FrameLayout, and set a `minHeight` for the PlayerView so it can adjust its height after the Video is loaded.

[2020-12-20 09:33] eneim commented on #116
@missphyrgames Sorry for the late reply

Depends on how you define your efficiency. Using the PlayerView pool = less memory footprint, but also less user-friendly (it needs to warm up the PlayerView for new Video after you change it, etc). So you can have some benchmark and decide on your own.

The Pool can be configured by providing a custom RendererProvider. You can follow this class to build yo

[2020-12-20 11:35] arsalrao commented on #115
@eneim I already fixed that issue by updating this item when view is in an invisible state. thanks.

[2020-12-21 04:11] #115 closed, assigned to nobody

[2020-12-22 11:01] easedroid commented on #109
It solved after I change PlayerView configuration from `app:resize_mode="fit"` to `app:resize_mode="fill"`. But there is another issue with this setting is that all videos will try to consume the whole layout which will create problem.

[2020-12-22 19:11] serkanucar opened #122 "I get an error when I quickly scroll up and down with Recyclerview"
https://github.com/eneim/kohii/blob/4ee0d39e848fc1e361cdbd0085e37de5818969ff/kohii-core/src/main/java/androidx/recyclerview/widget/RecyclerViewUtils.kt#L39

[code]

[2020-12-22 22:27] easedroid commented on #120
I have solved this using the `Manager` instance by registering bucket

[2020-12-22 22:27] #120 closed, assigned to nobody

[2020-12-22 22:32] easedroid opened #123 "How to to reset video playback?"
I want to start the video from the beginning when scrolled up or down. How can I achieve this using kohii? Currently it starts from where it left.

[2020-12-22 22:42] easedroid commented on #117
If you are using ViewPager or RecyclerView then use below setup in your viewholder class.

[code]

[2020-12-28 08:59] eneim commented on #123
@easedroid Currently you can remove the `tag` from the code you setup the Video. I have a plan to make it more intuitive next.

[2020-12-28 09:01] eneim commented on #122
Thanks. It is a bug, it will be fixed in the next update.

[2020-12-28 09:05] eneim commented on #119
@Glurt When you register your Fragment, you get back a `manager` instance. You can call `kohii.lockManager(manager)` to pause all Playbacks in that Manager/Fragment, and later call `kohii.unlockManager(manager)` to resume them.

[2020-12-28 09:10] eneim commented on #117
@dinesh1301

If the PlayerView is playing a Video, accessing this would be not null. Currently the field to retrieve the information you need is hidden (private). I will make it open for easier access. For now, you can access the Player object to get the information proactively.

[2020-12-28 09:12] eneim commented on #109
@easedroid Try not to use

[code]

for the FrameLayout that contain your Video unless you need it to fill the screen.

[2020-12-28 11:56] #122 closed, assigned to nobody

[2020-12-28 14:11] easedroid commented on #123
Okay let me try, I will revert back to you.

[2020-12-28 14:28] loicsiret commented on #112
Hi,

Any help on this please ?

[2020-12-29 09:18] #114 closed, assigned to nobody

[2020-12-29 09:34] eneim commented on #112
@loicsiret Sorry I could just get back to the library lately.

Is the second one the only Video in the screen, or the first video is being played at the same time?

[2020-12-29 09:35] eneim commented on #112
This is expected because Kohii cannot pause the Video automatically if you say so.

[2020-12-29 09:48] eneim commented on #66
@OhJeongGyu sorry to get back to you late. Currently I could not reproduce this issue, so I think you can try it out and if it doesn't work for you please let me know. The sample for RV inside RV is here: https://github.com/eneim/kohii/tree/dev-v1/kohii-sample/src/main/java/kohii/v1/sample/ui/nested5

[2020-12-30 06:25] talha01sayed commented on #53
I am getting the same error. any update on this?

[2020-12-30 11:40] eneim commented on #110
@dev8500 Will have a fix to match it with the spec. Though it turns out that the `onTrimMemory` callback is called when your App is in the background, so Kohii will try to use the latest available level.

[2020-12-30 11:46] #110 closed, assigned to nobody

[2020-12-31 06:42] talha01sayed opened #128 "Using kohii in two viewpager fragments"
Hi there, Thanks for this great library. I am using **kohii-sample-tiktok** code but also I am using it in two tabs with view pager and FragmentPagerAdapter both tabs have TikTok like videos UI. But the problem I am facing is

        at kohii.v1.core.Binder.providePlayable(Binder.kt:85)
        at kohii.v1.core.Binder.bind(Binder.kt:65)
        at kohii.v1.core.Binder.bind$default(Binder.kt:62)

[2020-12-31 06:44] talha01sayed commented on #128
This is my singleton class

object KohiiProvider {

    private val capsule: Capsule<Kohii, Pair<Context, MediaSourceFactory>> =
            Capsule(creator = { (context, factory) ->
                createKohii(context, mediaSourceFactoryCreator = { factory })
            })

    private fun get(context: Context, factory: MediaSourceFactory) = capsule.get(context to factory)

    operator fun get(

[2020-12-31 06:46] talha01sayed commented on #128
This is my fragment code. both fragments have the same code

`  val kohii = KohiiProvider[requireContext()]
            kohii.register(this, memoryMode = MemoryMode.INFINITE, activeLifecycleState = Lifecycle.State.RESUMED)
                     .addBucket(viewPager)
        passengersAdapter = EpisodeAdapter(this, categoryId, viewModel, kohii)
        viewPager.adapter = passengersAdapter.withLoadS

[2020-12-31 06:47] talha01sayed commented on #128
This is my both adapter code

`  kohii.setUp(videoFile) {
            tag = "video::$position"
            threshold = 0.5F
            preload = true
            repeatMode = Common.REPEAT_MODE_ONE
            artworkHintListener = object : Playback.ArtworkHintListener {
                override fun onArtworkHint(
                        playback: Playback,
                        shouldShow: Boo

[2021-01-04 17:11] loicsiret commented on #112
Hi @eneim

The two video are visible at the same time

[2021-01-04 21:50] serkanucar commented on #122
When is the next update?

[2021-01-05 21:32] loicsiret commented on #112
I ve got some "better" result, but not perfect with this :

[code]
To my knowledge, why looking **kohiiCanPause** when you checking if it's a manual played ?

[2021-01-06 12:40] eneim commented on #112
@loicsiret Let me pull something together to better understand your requirement:

Say you have 2 Videos vertically: A above B, both are fully visible to the user (so they have the same chance of being played if allowed).

- Both are configured with a Controller where `kohiiCanPlay` is `false` (so you need to start it manually) and `kohiiCanPause` is `true` (so Kohii will pause it if needed).

Assu

[2021-01-06 12:42] eneim commented on #112
This flag allows a Video to be manually started, and not be paused automatically (so even if it is scrolled off the screen, it can be kept playing). I actually do not encourage the scenario, but it is kinda a scenario someone might ask for, and it is the responsibility of a library to cover that possible scenario though ...

[2021-01-06 14:35] loicsiret commented on #112
Assuming that, no scroll is taken place, which means our Videos' positions never change. Let's consider the scenarios below:

When A is playing, B is paused, you manually start B -> what is the expected playback state of A and B?
-> **A should pause and B start playing**
When A is paused (in this case, by a manual pause), B is paused, you manually start B -> what is the expected playback state of

[2021-01-06 20:51] loicsiret opened #131 "IMA not playing if not the first in RecyclerView"
Hi,

It seems that ads are displayed only on the first visible video in recyclerView.

Imagine the following situation

Video A : state paused, kohiiCanStart = false , No AdTag
Video B : kohiiCanStart = false , No AdTag
Video C : kohiiCanStart = false , AdTag =   "https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=v

[2021-01-07 01:04] eneim commented on #112
@loicsiret Thanks, let me consider a snapshot so that you can try. My current manual playback mechanism is having some issues, hope I can handle them as well.

For the last answer, just to clarify, it is

right?

[2021-01-07 01:31] loicsiret commented on #112
oops you are totally right !

[2021-01-07 13:22] eneim commented on #112
@loicsiret I push an update that you can try with the snapshot build:

Follow this [step](https://github.com/eneim/kohii#setup), but add the following line below `jcenter()`:

[code]

Add the following to your app dependency

[code]

You can also try the sample app that comes with the source code of this library.

[2021-01-07 13:24] eneim commented on #131
Thanks, I will double check this later this weekend. Just tested with one video when working on this change >.<

(Also, I assume that you are using the 1.2.0 RC2, but if not, please also try with the 1.3.0 SNAPSHOT I commented in the other issue. I will send a fix to this SNAPSHOT later, and if it is Ok that fix will be cherry-pick to 1.2.0 and be released later this month)

[2021-01-07 15:50] loicsiret commented on #131
I have the issue with 1.3.0 SNAPSHOT

thanks for checking ;)

[2021-01-07 18:52] loicsiret commented on #131
Also, if you are looking at the ima integration.
Sometimes, if Kohii pause/restart (by scrolling out of screen) a video while the ad is playing, when restarted the ads is not resuming, the video content start instead
Note: I can reproduce only when the viewholder is completely put off the screen

[2021-01-08 02:06] eneim commented on #131
It is a known issue and it is not trivial because of the implementation detail of IMA. I will double-check what I can do, or it can be done differently.

[2021-01-09 05:00] ajaasazeez commented on #95
@spencergriffin you found any solution?

[2021-01-10 07:01] arsalrao opened #134 "Pre-Caching videos with Kohii"
@eneim is there any way to use pre-cache in Kohii?  I found this https://medium.com/google-exoplayer/pre-caching-downloading-progressive-streams-in-exoplayer-3a816c75e8f6 but how can I use **CacheUtil** in kohii.

**Background:**
I'm working on a short video social platform so I need to cache upcoming videos for a better user experience.

Thanks.

[2021-01-10 13:40] eneim commented on #134
@arsalrao CacheUtil is not useful in Kohii. For you scenario, can you take a look at this sample: https://github.com/eneim/kohii/blob/0d579c2d34ebeba26fee2f3bff13f785c8c92047/kohii-sample-tiktok/

In short, it customizes the loading spec of ExoPlayer so your Video will start early and it also caches what it loads already (it is a LRU Cache with a configurable cache size, so it would not cache ever

[2021-01-11 04:12] arsalrao commented on #134
@eneim I'm using it already but it didn't meet our expectations. For now, I'm closing this as you said CacheUtil is not useful in kohii

[2021-01-11 04:12] #134 closed, assigned to nobody

[2021-01-11 04:15] eneim commented on #134
Thanks @arsalrao . If you still want to consider using Kohii, you can start a discussion with your expectation and I can think about that. One of the TODO I have for me is to better support cold pre fetch Video (i.e. pre loading Video without the UI work. The challenge is how you sync the pre-loaded Video with the setup in UI layer).

[2021-01-11 04:41] arsalrao commented on #134
@eneim Thank you, you have TODO about the cold prefetch Video.  My expectation has the same but only buffered some chunks of videos before playing to make video streaming smooth fast like other social platform Tiktok doing.

[2021-01-11 12:11] eneim commented on #131
@loicsiret Had a look today, I could make it work with the following prototype: https://github.com/eneim/kohii/compare/prototype/multiple-ads?expand=1

Some notes:
- It seems that you cannot reuse PlayerView instance, but each Video needs to use one.
- In this prototype, I prepare all the Videos as soon as possible (so using "preload = true" and "memoryMode" to be INFINITE). I didn't try all optio

[2021-01-13 20:20] loicsiret commented on #131
hmm the preroll are playing on B as expected, but I got lag when creating the screen

[2021-01-17 12:18] eneim commented on #131
@loicsiret It is because it needs to create many things at once. Quite busy the last week, I will try a prototype that prepares the IMA properly but still keep the memory usage low soon.

[2021-01-29 09:32] developer-- opened #135 "NoSuchMethodError: No virtual method setPlayClearSamplesWithoutKeys"
I have picked up example codes from your Tiktok repo and I'm getting that runtime crash
[code]
[code]

[2021-01-29 09:39] eneim commented on #135
@developer-- ExoPlayer 2.12.3 is not compatible with this version of Kohii. Please use 2.11.3.

[2021-01-29 09:41] developer-- commented on #135
@eneim Ok thanks, will try

[2021-01-29 09:41] #135 closed, assigned to nobody

[2021-01-29 09:57] developer-- commented on #135
Downgraded and now it throws that exception:
[code]

that is my setup
[code]

[2021-01-29 10:52] developer-- opened #136 "E/Kohii::Bridge: Error: com.google.android.exoplayer2.source.UnrecognizedInputFormatException"
Here is my provider
[code]
inside adapter
[code]

Full log
[code]

Any idea what is the problem? cause without your library exoplayer can play that videos.
all videos are **hls** formated videos

[2021-01-29 12:14] eneim commented on #136
@developer-- Your video is an *HLS* but your MediaSourceFactory is `ProgressiveMediaSource.Factory`:

[code]

[2021-01-29 12:45] developer-- commented on #136
Oh write
[code]

[2021-01-29 12:45] #136 closed, assigned to nobody

[2021-01-30 02:04] eneim commented on #122
@serkanucar 1.2.0 is released.

[2021-02-04 08:48] deepak79 opened #139 "Black screen onResume"
I m using kohii to imlement inifnite scrolling with recyclerview. If I navigate to next fragment using nav controller and come back to previous screen the video screen stays black.

[2021-02-04 08:54] deepak79 commented on #139
https://user-images.githubusercontent.com/19246648/106868303-a28af080-66f4-11eb-96c9-06bcd12fd064.mp4

[2021-02-09 10:45] dinesh1301 opened #140 "Issue with HLS playback"
I tried playing hls videos using kohii and exoplayer, found the following error. After researching I found that this bug was fixed in latest version(2.12.x) of exoplayer  however currently kohii does not support 2.12.x. Is there a way out of this? Is it possible to support (2.12.x) exoplayer or find a possible fix for this issue.

[code]

[2021-02-09 14:36] eneim commented on #140
@dinesh1301 The latest Kohii version is compatible with 2.11.8. 2.12.x is not supported yet. I plan to wait and go to support 2.13.x directly. Please use the 2.11.8 dependency for your app for now.

[2021-02-09 14:38] deepak79 commented on #139
@eneim Any update on this please.

[2021-02-11 09:18] adityapatadia commented on #140
@eneim we have found out that the issue happens when there is HLS stream which uses byte-range. Is there a bug in kohii or exoplayer related to this?

[2021-02-18 13:19] viktorisacenko opened #141 "Fragment onHiddenChanged doesn't trigger playback pause"
Hey, nice work!

I got a problem when fragment is hidden (onHiddenChanged = true), the video playback doesnt trigger and dont pause the video.
Is this a normal behaviour or how can i fix it?
I want to stop a video if the fragment is in background but not paused, only hidden.

[2021-02-25 12:45] adityapatadia commented on #140
We are really stuck here. I would appreciate if we can get some resolution here.

[2021-02-25 12:50] adityapatadia commented on #140
Also 2.13.x is released so would be great to see kohii updated to support that. It might solve this issue.

[2021-02-25 12:53] adityapatadia commented on #140
Also 2.13.x is released so would be great to see kohii updated to support that. It might solve this issue.

[2021-03-09 02:41] eneim commented on #141
@viktorisacenko You can manually pause the auto playback by calling `kohii.lockManager(manager)` and resume the auto playback by calling `kohii.unlockManager(manager)`. I think it is not trivial to catch the callback, but I will see what I can do.

[2021-03-20 15:18] jsadovskaya opened #142 "Video playback does not resume after activity was recreated (after process killed)"
Hi @eneim!

Thank you for the new library version and for this fix https://github.com/eneim/kohii/issues/114. This case is ok now.
But, unfortunately, I found a new issue on this version: after the activity was recreated after process killed (can be emulated as "Don't keep activities" mode in developer options) - the video doesn't resume playing. It is not reproducing with the previous version v1.

[2021-03-21 05:56] ghost opened #143 "Recyclerview video is not resumed when re enter from full screen video player activity"
Hello,

I have implemented as below
- add video player in recyclerview(only one video will play at a time)
- When video is selected new activity will be launched to play the video in full screen(passing rebinder instance and initdata)
- After sometime when video is in progress i selected Back to go back to recycerlview
[Issue] Video is not resume, when i try to click the item to launch full screen

[2021-04-03 15:29] ahmedsalemelzeiny opened #145 "Last video in recyclerview not working"
I have some issues now when using Khoii to handle my videos
1- if the first item in the list does't have any videos so the second item will play "automatically" when the item not full visible " about 20% of the second item is only visible"
2- the last video item not playing anyway till adding some margin at the end of the screen to make the item fully visible and have almost the full height of the

[2021-04-03 15:51] islameldsoke opened #146 "Player control"
how to include custom player control in java

[2021-04-05 14:43] ahmedsalemelzeiny commented on #106
@musaabshirgar1 Did you fix it ?

[2021-04-09 14:30] antonkovalyov351 commented on #142
up

[2021-04-16 03:49] spencergriffin opened #147 "Support for jetpack compose LazyColumn and Pager"
I would like to be able to use Kohii within a LazyColumn and Pager in jetpack compose. Do you have any thoughts about how to make this possible?

I think buckets for these would need to live in a separate library so the main library doesn't require a dependency on compose. To make this happen, we would need a way to add bucket types in the configuration. What are your thoughts?

[2021-04-16 13:05] greenenvy opened #148 "Manual playback controller in java"
Can someone help me to transition this code to java? I have trouble with it.

[code]

Thanks in advance.

[2021-04-21 18:59] sdex opened #150 "ExoPlayer 2.14.x support"
Hello.
Are there any plans to support the most recent ExoPlayer version (2.13.3) in the future?

[2021-04-26 05:52] eneim commented on #150
@sdex Yes. Not only because the new APIs, but also because the old versions are distributed via jcenter, which is soon not available anymore ...

[2021-04-26 14:23] loicsiret opened #153 "1.3.0.2011008-SNAPSHOT aar missing from sonatype"
Hello,

since this morning I got a
[code]

Can you please re upload the snapshot ?

Best regards,

Loïc

[2021-04-27 10:39] JSBerrocoso commented on #153
Hi!!
Good job!! Nice library!
Please re upload the snapshot, I have the same problem :(

     Searched in the following locations:
         https://oss.sonatype.org/content/repositories/snapshots/im/ene/kohii/kohii-core/1.3.0.2011008-SNAPSHOT/kohii-core-1.3.0.2011008-20210426.094036-15.jar

Possible solution:
 - Declare repository providing the artifact, see the documentation at https://docs.gradl

[2021-04-28 13:27] eneim commented on #153
Hmm thanks for notifying , let me double check.

[2021-04-28 13:48] eneim commented on #153
It would be fixed now: https://oss.sonatype.org/content/repositories/snapshots/im/ene/kohii/kohii-core/1.3.0.2011008-SNAPSHOT/

[2021-04-28 13:48] #153 closed, assigned to nobody

[2021-04-29 10:09] hantrungkien commented on #112
@eneim Hi bro, are you planning to merge this version yet?

[2021-05-03 13:30] gvravikumar opened #156 ""Android resource linking failed" kohii_player_spherical_view"
I cloned your project and stuck here with error as follows

"Android resource linking failed"
kohii_player_spherical_view.

implementation "im.ene.kohii:kohii-exoplayer:1.0.0.2010004"
implementation "im.ene.kohii:kohii-core:1.0.0.2010004"
implementation "com.google.android.exoplayer:exoplayer:2.11.2"

[2021-05-03 13:37] gvravikumar commented on #156
solved this with following dependencies
    implementation "im.ene.kohii:kohii-exoplayer:1.0.0.2010004"
    implementation "im.ene.kohii:kohii-core:1.0.0.2010004"
    implementation "com.google.android.exoplayer:exoplayer:2.10.4"

[2021-05-03 13:43] loicsiret commented on #156
Hi,

Kohii version is linked to specific exoplayer release.
You can find the corresponding version in the Kohii version naming : im.ene.kohii:kohii-exoplayer:1.0.0.**2010004**
Means : exoplayer **2** **10** **4**

It's why changing dependencies has solved your problem ;)

[2021-05-03 13:59] gvravikumar commented on #156
thanks for the reply

[2021-05-03 14:01] gvravikumar opened #157 "black screen is coming in nested recyclerview"
i tried a setup where i have a parent vertical recyclerview which has horizontal recyclerview which contains exoplayer.

in this case only audio is playing, rest is all black screen in every cell of horizontal recyclerview.

Any suggestions are helpful.

[2021-05-03 18:21] paulocoutinhox opened #158 "How to use with multiple view types"
Hi,

How to use with multiple view types?

The sample has a list with only videos, but in my case i have 4 view types.

Can you help me?

Thanks.

[2021-05-04 12:55] Krutika-chotara commented on #158
I am also looking for same. is there any way to handle images and videos in same list ?

[2021-05-04 14:12] loicsiret commented on #158
Hi,

Kohii can be "plug" in any RecyclerView, including those with multiple Viewholder types. You can look at article like https://medium.com/@ivancse.58/android-and-kotlin-recyclerview-with-multiple-view-types-65285a254393 .
If you have problems including Kohii in your recyclerview, you can provide your code, I will look on it

[2021-05-04 14:14] Krutika-chotara commented on #158
Thanks for your answer but unfortunately i can't use Kohii because i am already using latest exoplayer in whole app . So it's conflict with Kohii.

[2021-05-04 14:42] paulocoutinhox commented on #150
Hi @eneim,

Can you launch a new release with new ExoPlayer?

Thanks.

[2021-05-04 21:30] candyman15 opened #159 "How to playlist"
Hi. I have question.
I want use PlayList like exoplayer mediaitems
Because one fragment has multiple video like instagram story.

Is it possible by Kohii ?
I can't search related at it.

[2021-05-08 11:51] eneim commented on #150
@paulo-coutinho It is not ready. 2.13.x has too many changes compared to 2.11.x, I need to consume the diff first, before integrating it into the library. Sorry, this is something I can not speed up.

[2021-05-10 07:58] paulocoutinhox commented on #150
Please @eneim, i see that it is very required in issues. Please update it. Please! Please! Please! rsrsrsrs

[2021-05-13 05:35] eneim commented on #159
It is part of ExoPlayer 2.12.x+, which is not currently supported. Please follow this issue https://github.com/eneim/kohii/issues/150 for updates about supporting the latest version of ExoPlayer.

[2021-05-13 05:36] eneim commented on #150
@paulo-coutinho Gonna aim for ExoPlayer 2.14.0 instead. It has something I can use to reduce the responsibility of kohii-core. And it comes with RTSP support (https://github.com/google/ExoPlayer/blob/dev-v2/RELEASENOTES.md#2140-2021-05-13).

[2021-05-13 07:03] paulocoutinhox commented on #150
WOW!!!! NICE!!! Man!!! Great news. Very thanks man.

[2021-05-13 07:16] eneim commented on #150
@paulo-coutinho Thanks. Not that it will be ready at the same time as the release of ExoPlayer 2.14.0, but I'm working on it now :D.

[2021-05-16 09:24] eneim commented on #158
@Krutika-chotara Please follow this PR if you still want to try Kohii in your project: https://github.com/eneim/kohii/pull/160

[2021-05-16 14:20] eneim commented on #150
@paulo-coutinho Please try the latest snapshot (version is in the README). It is not 100% yet, please try and see if it fits your need, or report any issue you find. It will help a lot. Thanks.

[2021-05-20 12:51] candyman15 commented on #150
@eneim Hi, I wonder How to use 2.14.0 version. I can't search readme about that. Please tell me

like this

implementation "im.ene.kohii:kohii-core:xxxxx" // core library
implementation "im.ene.kohii:kohii-exoplayer:xxxx" // default support for ExoPlayer
implementation "com.google.android.exoplayer:exoplayer:xxxx" // required ExoPlayer implementation.

[2021-05-22 10:49] 47gurvinder commented on #143
I'm also getting same issue. @appzien Did you find any way to fix it?

[2021-05-31 01:45] FujiKinaga opened #162 "Does PlayerEventListener work?"
Hi @eneim. Thank you for creating such a wonderful library!🎉

I would like to use `PlayerEventListener` to receive PlaybackState changes (via `ArtworkHintListener`) and `Playback#addStateListener` to receive some events.
However, I can't seem to receive any callbacks at the moment.

It seems that these events are probably not being passed to the `PlayerEventListeners` in `AbstractBridge.kt`.
(The

[2021-05-31 11:22] xibaca commented on #153
Hello, I have a question. When snapshot artifacts are published for :kohii-core, are corresponding versions for :kohii-exoplayer and other modules also meant to be published as well? Because if that's the case, I think there's some problem preventing this from happening automatically.

I'm asking because I noticed im.ene.kohii:kohii-core:1.3.0.2014000-SNAPSHOT is available while the latest :kohii-

[2021-06-03 07:39] xibaca commented on #150
@candyman15 2.14.0 isn't released yet, you have to use latest snapshot version for that.

implementation "im.ene.kohii:kohii-core:1.3.0.2014000-SNAPSHOT"
implementation "im.ene.kohii:kohii-exoplayer:1.3.0.2014000-SNAPSHOT"
implementation 'com.google.android.exoplayer:exoplayer:2.14.0'

but I noticed that snapshot version of kohii-exoplayer isn't published, so I cloned latest Kohii sources myself,

[2021-06-03 07:42] xibaca commented on #150
@eneim I have a question - should RTSP support be available out-of-the-box if I use latest Kohii snapshot? Or do you expect users will have to customize the creation of a Kohii instance in order to use it (e.g. passing your own mediaSourceFactory for example).

I'm not being able to get rtsp streams to play when using latest Kohii snapshot as wrapper library whereas I've observed these streams are

[2021-06-03 07:44] eneim commented on #153
@guilhermesgb Didn't see this issue. It should happen automatically (all the modules are updated together). Let me double check this and see how to prevent the issue in the future.

[2021-06-03 07:50] eneim commented on #162
@FujiKinaga Oh it must be an issue. Let me check the current status. Can you tell me which version you are using?

[2021-06-03 07:51] xibaca commented on #153
Thanks for the reply @eneim!

In https://github.com/eneim/kohii/issues/150 I mention a hack I used to publish :kohii-exoplayer module to maven local, but I'm unsure that's a proper solution to the problem.

[2021-06-03 08:20] FujiKinaga commented on #162
@eneim
Thanks for your confirmation.
I'm using [v1.2.0.2011008](https://github.com/eneim/kohii/releases/tag/v1.2.0.2011008) now.

[2021-06-03 11:42] eneim commented on #162
Just tried this using the same version:

[code]

Where the ViewHolder implements the Playback.StateListener

[code]

and it works well:

[code]

Is this what you want to do? Can you double check, or share your setup that doesn't work as expected?

[2021-06-03 13:30] FujiKinaga commented on #162
@eneim
I checked the comments you gave and my implementation.
It's clear.
I tried to create custom bridge class like a `PlayerViewBridge.kt` in `exo-kohiiplayer` module.
But then,  my custom class was not seem to be called `Player.addListener`...😅

This is due to my implementation. I apologize for the inconvenience😣

[2021-06-03 13:30] #162 closed, assigned to nobody

[2021-06-04 00:57] eneim commented on #150
@guilhermesgb I think RTSP will work out of the box. My simplest demo just work well by replacing the mp4 url (from asset) with "rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_115k.mov" (source: https://www.wowza.com/html/mobile.html). Can you check your setup with this url? If your url doesn't work can you share it so I can help investigate?

[2021-06-04 00:58] eneim commented on #150
It might be better check the dependency as well, I'm using `com.google.android.exoplayer:exoplayer:version` to include everything. Maybe you need to adjust that.

[2021-06-04 08:50] xibaca commented on #150
@eneim once again thanks for your replies and support.

Thanks for clarifying that it should work out of the box.

I'm having problems with ExoPlayer 2.14.0 itself, it's not playing my live RTSP feeds with underlying H264 video codec as well as I would expect. But using the RTSP url you shared with me worked fine, the ExoPlayer 2.14.0 demo could play it successfully.

When I used the Kohii sample

[2021-06-04 10:30] pal-tcook opened #164 "Lacking documentation on how to change volume"
Hello, I'm adding a mute/unmute button to custom controls.

I've added custom controls to my layout file, and have provided a controller implementation to the kohii.setup lambda.

I've hooked up click listeners on 2 custom controls at the moment; a play button (that calls playback.manager.pause/play respectively) and a mute button which should update the volume info of a given video for which the

[2021-06-04 10:56] pal-tcook commented on #164
FYI - I am setting up my bucket with `strategy = Strategy.MULTI_PLAYER`

And I notice this from the documentation:

"NOTE: Multiple playbacks comes with a caveat. In Video playback, audio focus is an important aspect. The client needs to not only respect the audio focus given by system, but also to respect the audio focuses among a Video with the others in the same Application. Therefore, when the

[2021-06-04 10:59] pal-tcook commented on #164
Hmmm, can confirm, if I set the strategy to `Strategy.SINGLE_PLAYER` then my code works (i.e. audio toggles on/off via calls to `playback.manager.applyVolumeInfo(..)`)

This is... unfortunate, as the requirement for our feature is that we should allow multiple videos to play at once, but only one of the videos should be able to have it's audio active at any given moment. I.e. if there are 2 videos

[2021-06-05 12:06] eneim commented on #150
@guilhermesgb Thanks for the check. It's actually my fault when not including the release script for sub modules. It is fixed now and all the modules are available in the snapshot repo.

Regarding the later issue, I could reproduce it on my end and it seems to be an issue with the "repeat mode" of ExoPlayer. The following patch is what I did that make it works (the video is played). You can pull t

[2021-06-05 12:21] eneim commented on #164
@pal-tcook Regarding volume control, you can take a look here: https://github.com/eneim/kohii/tree/dev-v1/kohii-sample/src/main/java/kohii/v1/sample/ui/echo

This example demos how you can control the volume for each Playback individually, and store that info across config change.

To control the volume of the whole screen, you can take a look at Facebook example: https://github.com/eneim/kohii/bl

[2021-06-07 08:48] pal-tcook commented on #164
Hey @eneim - the lack of documentation (or rather, the lack of it being easily findable) on this specific feature is understandable given the complexity of the library and the fact it's a 1 man dev team, so don't take my comments as disparaging.

I will be running this "issue" past our product owner/designers to see if they can live with not having audio for videos on the parts of the app where we

[2021-06-11 03:08] hantrungkien opened #166 "1.3.0.2011008-20210429.080049-18 is not found at Sonatype"
We're using this version for our product but at yesterday, we can't get this version from Sonatype. It seems to have been deleted.  Please help me. Thanks!

https://github.com/eneim/kohii/issues/112#issuecomment-756113102

[code]

[2021-06-11 05:55] eneim commented on #166
@hantrungkien Sorry for the inconvenience, can you try again using `1.3.0.2011008-20210611.055203-10`?

[2021-06-11 06:10] hantrungkien commented on #166
@eneim is "kohii-core-1.3.0.2011008-20210611.055203-22" correct version? Please confirm for me is it built with the source code of 1.3.0.2011008-20210429.080049-18?

I have decided to using your awesome lib for the leading social networks at Vietnam are Gapo and Gapo Work so could you please publish this version on maven or jitpack repository to support me?

[2021-06-11 11:24] eneim commented on #166
@hantrungkien The exact version of `kohii-core` and `kohii-exoplayer` are different:

https://oss.sonatype.org/content/repositories/snapshots/im/ene/kohii/kohii-core/1.3.0.2011008-SNAPSHOT/ --> `kohii-core-1.3.0.2011008-20210611.055203-22`
https://oss.sonatype.org/content/repositories/snapshots/im/ene/kohii/kohii-exoplayer/1.3.0.2011008-SNAPSHOT/ --> `kohii-exoplayer-1.3.0.2011008-20210611.055203-

[2021-06-11 12:22] eneim commented on #164
@pal-tcook I see. Let me see how I can handle this. But it might be in a beta build so please consider the trade-off. Although it is understandable if you go with another solution, but I will try to give the user more choices.

[2021-06-11 13:36] eneim commented on #164
@pal-tcook Anyway, can you tell me ther version that you are using? It might be better to start investigating from there.

[2021-06-14 02:06] hantrungkien commented on #166
@eneim thanks bro!

[2021-06-14 03:26] #166 closed, assigned to nobody

[2021-06-14 08:12] pal-tcook commented on #164
Hey @eneim  - sorry for the slow reply!

I'm using version "1.2.0.2011008"

[2021-06-21 07:20] sdex opened #167 "Video player blinks in RecyclerView"
Hi Nam.

I'm trying to use your awesome library to play videos in RecyclerView in a way very similar to the sample `Kohii + Facebook`.
The issue I've faced is that when scrolling between videos the player view becomes kind of invisible for a moment instead of displaying the last video frame.

The video demonstrates this issue:
https://user-images.githubusercontent.com/3196011/122721264-20e9c880-d2

[2021-08-16 07:24] pashaoleynik97 opened #168 "Migration from jcenter() to mavenCentral() or google()"
Previously I used Toro player for playback implementation. But it hosted on `jcenter()` that is deprecated now. So I decided to migrate to Kohii that is more modern and hosted on `mavenCentral()`.  But latest version of Kohii still using outdated version of exoplayer (2.11.8). This version of exoplayer also hosted on `bintray` ( https://mvnrepository.com/artifact/com.google.android.exoplayer/exopl

[2021-08-16 12:06] eneim commented on #168
@pashaoleynik97 Thanks. I'm aware of that and for at least a year on, you do not need to worry about jcenter being gone (https://developer.android.com/studio/build/jcenter-migration).

Since ExoPlayer 2.14.x is migrated to maven, the upcoming release of Kohii will also be moved to maven. I'm working on some experiment right now and hopefully I can open it really soon. The next update will use ExoP

[2021-08-16 12:44] eneim commented on #167
@sdex Sorry for not checking this issue. Want to confirm the issue: the "blink" you mention is a short time when the screen turns white? I believe it is because you are reusing the PlayerView instance. And because the PlayerView instance is reused, the `keep_content_on_player_reset` setting doesn't take effect.

If you can trade-off the memory usage to get better performance, you can replace your

[2021-08-16 12:45] eneim commented on #157
@gvravikumar Sorry for the late, can you share the code you call Kohii API to setup your RecyclerViews?

[2021-08-16 12:57] pashaoleynik97 commented on #168
Thank you very much for your answer!

[2021-08-16 12:57] #168 closed, assigned to nobody

[2021-08-19 06:07] sdex commented on #167
@eneim correct, white screen instead of the last visible frame.
Not sure what exactly I need to replace with `PlayerView`. I have a list item view with the structure:
[code]
And in the view holder I do:
[code]

After all, we came up with listening to the player events and displaying a thumbnail when playback is not started yet.
It's not a perfect solution but it minimizes UI lags during scrolling.

[2021-08-24 15:54] Arsamkhan opened #169 "Playback.StateListener not return any value"
Playback.StateListener not return any value in java project with exoplayer 2.14.0 I am using :
1.3.0.2014000-SNAPSHOT

[2021-08-24 15:57] Arsamkhan commented on #169
Playback.StateListener not return any value in java project with exoplayer 2.14.0 I am using :
1.3.0.2014000-SNAPSHOT

[2021-09-15 10:12] sandilya-siftly opened #170 "How to stop video playback when the app goes to background"
@eneim  I have an activity, which has a ViewPager which in turn holds the PlayerView. When the app goes to the background (on clicking the home button), I want the playback to be stopped.

Apologies, I couldn't find any documentation for the same. Could you please let me understand how to do the same?

[2021-09-15 16:59] sandilya28 commented on #170
In short, I want to control the start and stop of the player.

[2021-09-15 19:47] sandilya-siftly commented on #170
Thank you :D, found out we need to use `Manager.OnSelectionListener` to get the current playback and then `Manager` from the `kohii.register`.

[2021-09-15 19:47] #170 closed, assigned to nobody

[2021-10-03 04:35] eneim commented on #169
@Arsamkhan I cannot reproduce the issue. Can you share your code, or something that can produce the problem?

[2021-10-03 13:00] eneim commented on #167
@sdex

Yeah, your current structure would be what I recommend. I also acknowledge your concern now: by default, there is nothing shown in the PlayerView if the video is not playing (for example, before the beginning of the playback, during the buffering for the first playback, after the playback has ended) which cause the UI to look weird (black screen, or white, ...).

I think the approach that u

[2021-10-04 05:41] sdex commented on #167
@eneim eventually we got what we needed listening events from different callbacks:
`Playback.StateListener`, `Playback.ArtworkHintListener`, `Player.Listener`
Based on the event and the player state we either show or hide the thumbnail and the controller.

[2021-10-04 05:41] #167 closed, assigned to nobody

[2021-10-04 09:16] Arsamkhan commented on #169
I have implemented Playback.StateListener in RecyclerView View-holder class but override function onBuffering, onPlaying etc. not called .

implementation "im.ene.kohii:kohii-core:1.3.0.2011008-20210611.055203-22" // core library
implementation "im.ene.kohii:kohii-exoplayer:1.3.0.2011008-20210611.055203-10"

In these dependencies its work well.

[2021-10-12 15:31] Faiyyaz opened #173 "Is the library production ready?"
Hi,

Thanks for the great library just a quick question though will it be okay to use this library in production or is it still in some beta or alpha phase?

[2021-11-26 05:04] ghost commented on #170
may you please explain the usage clearly I don't see any setOnSelectionListener in the Manager

[2021-12-03 05:09] ajayasija23 opened #175 "Play Video In Nested Recyclerview"
i have playerview in nested recyclerview. how can i use it nested recyclerview

[2022-01-14 11:50] Dendy-Jr opened #176 "Why does not you play music in the video? I mean in Recyclerview ..."
Do not play music when playing many videos in RecyClerview. Can it somehow fix?

[2022-02-25 10:32] umer7267 opened #177 "java.lang.NoSuchMethodError: No static method getNetworkType"
The app is crashing on initializing Kohii library in fragment Java:

[code]

Full logcat:

2022-02-25 15:30:26.103 32073-32073/com.levelx.admin E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.levelx.admin, PID: 32073
    java.lang.NoSuchMethodError: No static method getNetworkType(Landroid/content/Context;)I in class Lcom/google/android/exoplayer2/util/Util; or its super classes (declarat

[2022-02-25 10:56] eneim commented on #177
@umer7267 Usually this happens when you use a different version of ExoPlayer. The latest version of Kohii uses ExoPlayer 2.11.8, the 1.3.0 snapshot uses 2.14.0. If you need a newer ExoPlayer version, you need to wait (sorry I'm working on a big update and it takes a lot of time).

[2022-02-25 10:59] umer7267 commented on #177
@eneim yeah, I understand, you already did a marvelous job, I am using the same version as suggested in the documentation. Check this out:

[code]

[2022-02-26 16:07] DeepakHeadspire opened #178 "Project not building in current stable version of android studio bumblebee"
I tried to run the your project using both git link and manually downloading .zip file but project is failed to build.

[2022-03-01 00:12] ahmadrushdie opened #179 "Kohii crash when use exoplayer 2.13.3 NoClassDefFoundError TrackSelection"
dependancies

 def kohii_version = "1.1.0.2011003"
    implementation "im.ene.kohii:kohii-core:${kohii_version}"
    implementation "im.ene.kohii:kohii-exoplayer:${kohii_version}"
    implementation "com.google.android.exoplayer:exoplayer:2.13.3"

 java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/exoplayer2/trackselection/TrackSelection$Factory;
        at kohii.v1.exoplay

[2022-04-04 04:00] hantrungkien commented on #166
@eneim I have got a conflict with other lib using exoplayer 2.13.3 so could you please push this version on git?

[2022-04-09 02:37] yasinalm opened #180 "Kohii with fragment replace"
**Intro:** Thank you for sharing this amazing repository. I am working on a simple application based on the Fbook sample. I have a Fbook fragment (let's call FB1) in the MainActivity. When there is a search, I replace the existing Fragment container with a newInstance of the Fbook fragment (let's call FB2) and add it to the back stack. I use the same fragment provided in the sample. I can do these

[2022-04-10 07:41] eneim commented on #180
@yasinalm Can you obtain the desired behavior _without_ using Kohii?

I assume the issue is how you use add the FB to the backstack, because Kohii doesn't talk to the FragmentManager or the Back Stack. If you believe it is the issue of Kohii, please let me know which API may cause that.

[2022-04-10 12:56] eneim commented on #178
Can you share the error log? Below is the result on my machine running `./gradlew clean && ./gradlew assemble`

<img width="1792" alt="Screen Shot 2022-04-10 at 21 55 10" src="https://user-images.githubusercontent.com/1776230/162619229-f69aff77-c883-4b48-9b0d-c44420038172.png">

[2022-04-11 00:34] yasinalm commented on #180
I have been working on this issue for a while. Currently, I cannot reproduce the issue. I will update this issue if I can reproduce it with Kohii. Thanks for your help!

[2022-04-11 00:34] #180 closed, assigned to nobody

[2022-04-22 06:48] hantrungkien commented on #166
@eneim Could you please support me?

[2022-05-23 11:45] haris15 commented on #179
Same issue i am facing do you find any solution @ahmadrushdie ?

[2022-08-14 12:52] tabasavr opened #182 "Kohii vs Toro and development status"
Hi, I recently started contributing to a project that uses your other project [Toro](https://github.com/eneim/toro). I'd love to update Exoplayer to remove jcenter dependency but both Toro and Kohii use old Exoplayer versions. Kohii looks like a newer project and does basically the same thing as Toro, so I'm posting these two questions here:

1. Is Kohii a replacement for Toro?
2. Are you working

[2022-08-24 07:13] eneim commented on #182
@RSBat Sorry for the late reply:

Yes, you can think so. Any new project wants to consider between them should use Kohii.

Yes I'm trying to update the library to the new ExoPlayer version. I should be more aggressive on this because I think many is waiting for it. My current issue are time and the amount of change ExoPlayer brings. Let me set a goal to publish the new release by the end of this m

[2022-08-25 01:44] tabasavr commented on #182
Great, I'm glad it is not abandoned

At least for me updating just to 2.13.3 would be enough because it is the first version available in Google's maven repository. And the amount of changes is not as big as updating to the latest version.

Sure, no pressure

[2022-09-23 12:05] eneim commented on #179
Each Kohii library has an supported ExoPlayer version. Using other ExoPlayer version may not work well and it can produce crash like this. Please make sure to use the same ExoPlayer verion as mentioned in the kohii version.

For example: 1.2.0.201108 -> ExoPlayer 2.11.8 (the number 201108 is taken from the ExoPlayer's library version number).

[2022-09-24 10:12] eneim commented on #182
Hey, FYI it is a bit later than plan but I finally release a new version with ExoPlayer 2.17.1. Tried to make it for 2.14.x but many thing doesn't build successfully.

[2022-09-24 10:13] eneim commented on #173
@Faiyyaz There are several stable versions get released. Please see if it works for you.

[2022-09-24 10:13] #173 closed, assigned to nobody

[2022-09-24 10:13] eneim commented on #176
@Dendy-Jr if you still have the issue, please give more infor about it.

[2022-09-27 16:41] #182 closed, assigned to nobody